<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="中转运单" name="first">
        <el-table
          :data="tableDataFir"
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column type="index" label="ID" width="180">
          </el-table-column>
          <el-table-column prop="goodsBillCode" label="货运单编号" width="180">
          </el-table-column>
          <el-table-column prop="sendGoodsCustomer" label="发货客户">
          </el-table-column>
          <el-table-column prop="receiveGoodsCustomer" label="收货客户">
          </el-table-column>
          <el-table-column prop="sendGoodsDate" label="发货日期">
          </el-table-column>
          <el-table-column prop="tools" label="操作">
            <template slot-scope="scope">
              <el-button type="primary" @click="writePass(scope.row)">
                填写中转信息
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="中转历史" name="second">
        <el-table
          :data="tableData"
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column type="index" label="ID" width="180">
          </el-table-column>
          <el-table-column
            prop="afterTransferBill"
            label="货运单编号"
            width="180"
          >
          </el-table-column>
          <el-table-column prop="transferStation" label="中转地">
          </el-table-column>
          <el-table-column prop="transferCheck" label="验货人">
          </el-table-column>
          <el-table-column prop="transferCompany" label="中转公司">
          </el-table-column>
        </el-table>
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
        <el-row :gutter="20">
          <el-col :span="8" :offset="8">
            <div class="navigation-bar" style="padding-top: 40px">
              <!-- 分页部分 -->
              <el-pagination
                background
                layout="total, prev, pager, next, jumper"
                :hide-on-single-page="false"
                :page-size="pageformData.size"
                :current-page="pageformData.currentPage"
                :total="pageformData.total"
                @prev-click="prevPage"
                @next-click="nextPage"
                @current-change="currentPageChange"
              >
              </el-pagination>
            </div>
          </el-col>
        </el-row>
      </el-tab-pane>
      <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
        <span>
          <el-form ref="dataForm" :model="dataForm" label-width="80px">
            <el-form-item label="中转地">
              <el-input v-model="dataForm.transferStation" disabled></el-input>
            </el-form-item>
            <el-form-item label="中转验收人">
              <el-input v-model="dataForm.transferCheck" disabled></el-input>
            </el-form-item>
            <el-form-item label="验收时间">
              <el-input v-model="dataForm.checkTime" disabled></el-input>
            </el-form-item>
            <el-form-item label="描述">
              <el-input v-model="dataForm.description"></el-input>
            </el-form-item>
            <el-form-item label="中转公司名">
              <el-input v-model="dataForm.transferCompany" disabled></el-input>
            </el-form-item>
            <el-form-item label="中转地址">
              <el-input v-model="dataForm.transferAddr" disabled></el-input>
            </el-form-item>
            <el-form-item label="中转地电话">
              <el-input
                v-model="dataForm.transferStationTel"
                disabled
              ></el-input>
            </el-form-item>
            <el-form-item label="中转费">
              <el-input v-model="dataForm.transferFee" disabled></el-input>
            </el-form-item>
            <el-form-item label="中转后单号">
              <el-input
                v-model="dataForm.afterTransferBill"
                disabled
              ></el-input>
            </el-form-item>
          </el-form>
        </span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="doPost">确 定</el-button>
        </span>
      </el-dialog>
    </el-tabs>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as transferInfoApi from "@/api/pass/transferInfo";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      dialogVisible: false,
      activeName: "first",
      tableDataFir: [],
      tableData: [],
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      dataForm: {
        afterTransferBill: "",
        checkTime: "",
        description: "",
        goodsBillCode: "",
        transferAddr: "",
        transferCheck: "",
        transferCompany: "",
        transferFee: 1.3,
        transferStation: "",
        transferStationTel: "",
      },
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = ['ID', '货运单编号', '中转地','验货人','中转公司']; // 导出的表头名信息
        const filterVal = ['id', 'afterTransferBill', 'transferStation','transferCheck','transferCompany']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '中转历史');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //确认中转
    doPost() {
      this.dataForm.checkTime = new Date();
      transferInfoApi.addInfo(this.dataForm).then((resp) => {
        if (resp.code === 1) {
          api.toast_succ(resp.msg)
          console.log(resp);
          this.initDataForm();
        }
        this.dialogVisible = false;
        api.toast_succ(resp.msg)
      });
    },
    //初始化
    initDataForm() {
      this.dataForm.afterTransferBill = "";
      this.dataForm.checkTime = "";
      this.dataForm.description = "";
      this.dataForm.goodsBillCode = "";
      this.dataForm.transferAddr = "";
      this.dataForm.transferCheck = "";
      this.dataForm.transferCompany = "";
      this.dataForm.transferFee = 1.3;
      this.dataForm.transferStation = "";
      this.dataForm.transferStationTel = "";
    },
    //确认中转的窗口
    writePass(item) {
      let _this = this;
      var nowDate = new Date();
      var day = nowDate.getDate();
      var month = nowDate.getMonth() + 1; //注意月份需要+1
      var year = nowDate.getFullYear();

      transferInfoApi.detail(item.goodsBillCode).then((resp) => {
        _this.dataForm.transferStation = resp.city;
        _this.dataForm.transferCheck = this.$store.getters.user.loginId;
        _this.dataForm.checkTime = year + "-" + month + "-" + day;
        _this.dataForm.transferCompany = resp.companyName;
        _this.dataForm.transferAddr = resp.detailAddress;
        _this.dataForm.transferStationTel = resp.linkPhone;
        _this.dataForm.transferFee = 1.3;
        _this.dataForm.afterTransferBill = item.goodsBillCode;
        _this.dataForm.goodsBillCode = item.goodsBillCode;
        _this.dialogVisible = true;
      });
    },
    //获取司机的中转运单
    transferGoods() {
      transferInfoApi
        .transferGoods(this.$store.getters.user.loginId)
        .then((resp) => {
          this.tableDataFir = resp.data;
        });
    },
    //查询查询中转公司信息
    findInfoByPage(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      transferInfoApi
        .findInfoByPage(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    //下一页
    nextPage() {
      this.findInfoByPage(this.pageformData.currentPage + 1);
    },
    //上一页
    prevPage() {
      this.findInfoByPage(this.pageformData.currentPage - 1);
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      this.findInfoByPage(page);
    },
    handleClick(tab, event) {
      if (this.activeName === "first") {
        this.transferGoods();
      } else {
        this.findInfoByPage();
      }
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.transferGoods();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>