<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="中转公司信息录入" name="first">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="城市">
            <el-select v-model="form.city" placeholder="请选择城市">
              <el-option
                v-for="item in optionArr"
                :key="item.key"
                :label="item.city"
                :value="item.city"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="公司名称">
            <el-input v-model="form.companyName"></el-input>
          </el-form-item>
          <el-form-item label="联系电话">
            <el-input v-model="form.linkPhone"></el-input>
          </el-form-item>
          <el-form-item label="详细地址">
            <el-input v-model="form.detailAddress"></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="addInfo">提交</el-button>
            <el-button>取消</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="中转公司信息查询" name="second">
        <el-table
          :data="tableData"
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column prop="id" label="ID" width="180"> </el-table-column>
          <el-table-column prop="city" label="所在城市" width="180">
          </el-table-column>
          <el-table-column prop="companyName" label="公司名称">
          </el-table-column>
          <el-table-column prop="linkPhone" label="联系方式"> </el-table-column>
          <el-table-column prop="detailAddress" label="公司地址">
          </el-table-column>
        </el-table>
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
        <el-row :gutter="20">
          <el-col :span="8" :offset="8">
            <div class="navigation-bar" style="padding-top: 40px">
              <!-- 分页部分 -->
              <el-pagination
                background
                layout="total, prev, pager, next, jumper"
                :hide-on-single-page="false"
                :page-size="pageformData.size"
                :current-page="pageformData.currentPage"
                :total="pageformData.total"
                @prev-click="prevPage"
                @next-click="nextPage"
                @current-change="currentPageChange"
              >
              </el-pagination>
            </div>
          </el-col>
        </el-row>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as transferApi from "@/api/pass/write";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      optionArr: [],
      activeName: "first",
      form: {
        city: "",
        companyName: "",
        detailAddress: "",
        linkPhone: "",
      },
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = ['ID', '所在城市', '公司名称','联系方式','公司地址']; // 导出的表头名信息
        const filterVal = ['id', 'city', 'companyName','linkPhone','detailAddress']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '中转公司');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //初始化表单
    initForm() {
      this.form.city = "";
      this.form.companyName = "";
      this.form.detailAddress = "";
      this.form.linkPhone = "";
    },
    //添加中转公司信息
    addInfo() {
      transferApi.addInfo(this.form).then((resp) => {
        console.log(resp);
        api.toast_succ(resp.msg)
      });
    },
    //获取地点的列表
    findAllRegions() {
      transferApi.findAllRegions().then((resp) => {
        this.optionArr = resp;
      });
    },
    //添加中转信息
    addInfo() {
      transferApi.addInfo(this.form).then((resp) => {
        if (resp.code !== 0) {
          console.log(resp);
          this.initForm();
        }
        api.toast_succ(resp.msg)
      });
    },

    //查询查询中转公司信息
    findByPage(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      transferApi
        .findByPage(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    //下一页
    nextPage() {
      this.findByPage(this.pageformData.currentPage + 1);
    },
    //上一页
    prevPage() {
      this.findByPage(this.pageformData.currentPage - 1);
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      this.findByPage(page);
    },
    onSubmit() {
      console.log("submit!");
    },
    handleClick(tab, event) {
      if (this.activeName === "first") {
        this.findAllRegions();
        this.initForm();
      } else {
        this.findByPage();
      }
      console.log(tab, event);
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.findAllRegions();
    this.initForm();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>