<template>
  <div class="box">
    <div>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="票据分发" name="first">
          <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort="{ prop: 'bill_id', order: 'descending' }"
          >
            <el-table-column prop="id" label="ID"> </el-table-column>
            <el-table-column prop="billType" label="单据类型" sortable>
            </el-table-column>
            <el-table-column prop="billCode" label="单据编号">
            </el-table-column>
            <el-table-column prop="writeDate" label="填写日期">
              <template slot-scope="scope">
                <span v-text="formatDate(scope.row.writeDate)"></span>
              </template>
            </el-table-column>
            <el-table-column prop="tools" label="操作">
              <template slot-scope="scope">
                <el-button type="primary" @click="edit_click(scope.row)">
                  分发
                </el-button>
              </template>
            </el-table-column>
          </el-table>
        </el-tab-pane>
        <el-tab-pane label="票据查看" name="second">
          <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort="{ prop: 'billType', order: 'descending' }"
            id="networkTable"
          >
            <el-table-column prop="id" label="ID"> </el-table-column>
            <el-table-column prop="billType" label="单据类型" sortable>
            </el-table-column>
            <el-table-column prop="billCode" label="单据编号">
            </el-table-column>
            <el-table-column prop="writeDate" label="填写日期">
              <template slot-scope="scope">
                <span v-text="formatDate(scope.row.writeDate)"></span>
              </template>
            </el-table-column>
          </el-table>
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
        </el-tab-pane>
        <div class="image-page">
          <el-row :gutter="20">
            <el-col :span="8" :offset="8">
              <div class="navigation-bar" style="padding-top: 40px">
                <!-- 分页部分 -->
                <el-pagination
                  background
                  layout="total, prev, pager, next, jumper"
                  :hide-on-single-page="false"
                  :page-size="pageformData.size"
                  :current-page="pageformData.currentPage"
                  :total="pageformData.total"
                  @prev-click="prevPage"
                  @next-click="nextPage"
                  @current-change="currentPageChange"
                >
                </el-pagination>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-tabs>
    </div>

    <!-- 分发对话框 -->
    <div class="edit_box">
      <el-dialog
        title="分发"
        :visible.sync="edit_view"
        width="30%"
        :before-close="handleClose"
      >
        <span>
          <el-form ref="form" :model="form" label-width="80px">
            <el-form-item label="分发人">
              <el-input v-model="form.releasePerson"></el-input>
            </el-form-item>
            <el-form-item label="领票人">
              <!-- <el-input v-model="form.receiveBillPerson"></el-input> -->
              <el-select v-model="form.receiveBillPerson" placeholder="请选择">
                <el-option
                  v-for="item in options"
                  :key="item.key"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item label="领票时间">
              <el-col :span="11">
                <el-date-picker
                  type="date"
                  placeholder="选择日期"
                  v-model="form.receiveBillTime"
                  style="width: 100%"
                ></el-date-picker>
              </el-col>
            </el-form-item>
            <el-form-item label="接货点">
              <el-input v-model="form.acceptStation"></el-input>
            </el-form-item>
          </el-form>
        </span>
        <span slot="footer" class="dialog-footer">
          <el-button @click="edit_view = false">取 消</el-button>
          <el-button type="primary" @click="addRelease">分发</el-button>
        </span>
      </el-dialog>
    </div>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as billApi from "@/api/billControl/billRelease";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      //领票人
      options: [],
      tableName: "first",
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      billCode: "",
      form: {
        acceptStation: "",
        billType: "",
        billCode: "",
        receiveBillPerson: "",
        receiveBillTime: "",
        releasePerson: "",
      },
      edit_view: false,
      activeName: "first",
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    // handleSelectionChange (val) { // 操作多选
    //   this.multipleSelection = val; // 多选的行会存入multipleSelection数组中
    // },
    // 列表下载
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = ['ID', '单据类型', '单据编号','填写日期']; // 导出的表头名信息
        const filterVal = ['id', 'billType', 'billCode','writeDate']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '票据');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    initFrom() {
      this.form.acceptStation = "";
      this.form.billType = "";
      this.form.receiveBillPerson = "";
      this.form.receiveBillTime = "";
      this.form.releasePerson = "";
      this.form.billCode = "";
      this.billCode = "";
    },
    //确认分发
    addRelease() {
      billApi.addRelease(this.billCode, this.form).then((resp) => {
        console.log(resp);
        //添加完了然后关闭模态框，并且查询最新的数据
        if (resp.code === "0") {
          api.toast_succ(resp.msg);
        } else {
          api.toast_err(resp.msg);
        }
        this.edit_view = false;
        this.selectNoPageAll();
        api.toast_succ(resp.msg)
      });
    },
    //下一页
    nextPage() {
      if (this.tableName === "first") {
        this.selectNoPageAll(this.pageformData.currentPage + 1);
      } else {
        this.selectAll(this.pageformData.currentPage + 1);
      }
    },
    //上一页
    prevPage() {
      if (this.tableName === "first") {
        this.selectNoPageAll(this.pageformData.currentPage - 1);
      } else {
        this.selectAll(this.pageformData.currentPage - 1);
      }
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      if (this.tableName === "first") {
        this.selectNoPageAll(page);
      } else {
        this.selectAll(page);
      }
    },
    //查询所有
    selectAll(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .selectAll(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    //查询所有
    selectNoPageAll(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .selectNoAll(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
          // console.log(resp);
        });
    },
    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd");
    },
    //打开对话框
    edit_click(item) {
      this.edit_view = true;
      console.log("进来啦", item);
      this.billCode = item.billCode;
      this.form.billCode = item.billCode;
      this.form.billType = item.billType;
      this.form.releasePerson = this.$store.getters.user.loginId;
      this.form.receiveBillTime = item.writeDate;
      //获取所有领票人
      billApi.selectAllId().then((resp) => {
        console.log(resp);
        this.options = resp;
      });
    },
    //tab 被选中时触发
    handleClick(tab, event) {
      this.tableName = tab.name;
      if (tab.name === "first") {
        this.selectNoPageAll(1);
      } else {
        this.selectAll(1);
      }
      console.log("点了一下下");
    },
    //关闭对话框
    handleClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
        })
        .catch((_) => {});
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    console.log(this.$store.getters.user);
    this.selectNoPageAll();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>
