<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="添加客户" name="first">
        <el-form ref="form" :model="form" label-width="120px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="客户姓名">
                <el-input
                  v-model="form.customer"
                  placeholder="请输入客户姓名"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="电话">
                <el-input
                  v-model="form.phone"
                  placeholder="请输入电话"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="传真" placeholder="请输入传真">
                <el-input v-model="form.fax"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="邮编">
                <el-input
                  v-model="form.postCode"
                  placeholder="请输入邮编"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="地址">
            <el-input
              v-model="form.address"
              placeholder="请输入地址"
            ></el-input>
          </el-form-item>
          <el-row>
            <el-col :span="12">
              <el-form-item label="联系人">
                <el-input
                  v-model="form.linkman"
                  placeholder="请输入联系人"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="联系人手机">
                <el-input
                  v-model="form.linkmanMobile"
                  placeholder="请输入联系人手机"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="客户类型">
                <el-input
                  v-model="form.customerType"
                  placeholder="请输入客户类型"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="企业性质">
                <el-input
                  v-model="form.enterpriseProperty"
                  placeholder="请输入企业性质"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="企业规模">
                <el-input
                  v-model="form.enterpriseSize"
                  placeholder="请输入企业规模"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="电子邮件">
                <el-input
                  v-model="form.email"
                  placeholder="请输入电子邮件"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-form-item>
            <el-button type="primary" @click="onSubmit">立即提交</el-button>
            <el-button @click="initForm">重置</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="客户查询" name="second">
        <el-table
          :data="tableData"
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column type="index" label="ID" sortable width="80">
          </el-table-column>
          <el-table-column
            prop="customerCode"
            label="客户编号"
            sortable
            width="150"
          >
          </el-table-column>
          <el-table-column prop="customer" label="客户姓名"> </el-table-column>
          <el-table-column prop="phone" label="电话"> </el-table-column>
          <el-table-column prop="address" label="地址"> </el-table-column>
          <el-table-column prop="email" label="电子邮件"> </el-table-column>
          <el-table-column fixed="right" label="操作" width="280">
            <template slot-scope="scope">
              <el-button
                type="warning"
                @click="aboutCust(scope.row)"
                size="small"
                class="el-button el-button--warning"
                >查看详情</el-button
              >
              <el-button
                @click="editCust(scope.row)"
                type="primary"
                size="small"
                class="el-button el-button--primary"
                >修改</el-button
              >
              <el-button
                @click="deleteCust(scope.row)"
                type="danger"
                size="small"
                class="el-button el-button--danger"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
        <div class="image-page">
          <el-row :gutter="20">
            <el-col :span="8" :offset="8">
              <div class="navigation-bar" style="padding-top: 40px">
                <!-- 分页部分 -->
                <el-pagination
                  background
                  layout="total, prev, pager, next, jumper"
                  :hide-on-single-page="false"
                  :page-size="pageformData.size"
                  :current-page="pageformData.currentPage"
                  :total="pageformData.total"
                  @prev-click="prevPage"
                  @next-click="nextPage"
                  @current-change="currentPageChange"
                >
                </el-pagination>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>
    </el-tabs>

    <el-dialog title="客户信息提示" :visible.sync="dialogVisible" width="70%">
      <span>
        <el-form ref="custForm" :model="custForm" label-width="120px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="客户编号">
                <el-input
                  v-model="custForm.customerCode"
                  :disabled="ifEdit"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="客户姓名">
                <el-input
                  v-model="custForm.customer"
                  :disabled="ifEdit"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="电话">
                <el-input
                  v-model="custForm.phone"
                  :disabled="ifEdit"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="传真">
                <el-input v-model="custForm.fax" :disabled="ifEdit"></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="邮编">
            <el-input v-model="custForm.postCode" :disabled="ifEdit"></el-input>
          </el-form-item>
          <el-row>
            <el-col :span="12">
              <el-form-item label="地址">
                <el-input
                  v-model="custForm.address"
                  :disabled="ifEdit"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="联系人">
                <el-input
                  v-model="custForm.linkman"
                  :disabled="ifEdit"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="联系人手机">
                <el-input
                  v-model="custForm.linkmanMobile"
                  :disabled="ifEdit"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="客户类型">
                <el-input
                  v-model="custForm.customerType"
                  :disabled="ifEdit"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="企业性质">
                <el-input
                  v-model="custForm.enterpriseProperty"
                  :disabled="ifEdit"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="企业规模">
                <el-input
                  v-model="custForm.enterpriseSize"
                  :disabled="ifEdit"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-form-item label="电子邮件">
            <el-input v-model="custForm.email" :disabled="ifEdit"></el-input>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer" v-if="!ifEdit">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="doEdit">确 定</el-button>
      </span>
      <span slot="footer" class="dialog-footer" v-if="ifdelete">
        <el-button type="primary" @click="dodelete"
          >删 除</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as billApi from "@/api/appControl/customerManage";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      customerCode: "",
      ifdelete: false,
      ifEdit: false,
      dialogVisible: false,
      options: [],
      tableName: "first",
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      form: {
        customer: "",
        phone: "",
        fax: "",
        postCode: "",
        address: "",
        linkman: "",
        linkmanMobile: "",
        customerType: "",
        enterpriseProperty: "",
        enterpriseSize: "",
        email: "",
        resetForm: "",
      },
      custForm: {
        address: "",
        customer: "",
        customerCode: "",
        customerType: "",
        email: "",
        enterpriseProperty: "",
        enterpriseSize: "",
        fax: "",
        linkman: "",
        linkmanMobile: "",
        phone: "",
        postCode: "",
      },
      edit_view: false,
      activeName: "first",
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = [ 'ID', '客户编号','客户姓名','电话','地址','电子邮件']; // 导出的表头名信息
        const filterVal = ['index', 'customerCode','customer','phone','address','email']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '客户列表');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //执行删除
    dodelete() {
       billApi
        .deleteCus(this.customerCode)
        .then((resp) => {
          console.log(resp);
          this.selectAllCus();
          this.initForm();
          this.dialogVisible = false;
          api.toast_succ(resp.msg)
        });
    },

    //执行更新
    doEdit() {
      billApi
        .updateCustomerInfo(this.customerCode, this.custForm)
        .then((resp) => {
          console.log(resp);
          this.selectAllCus();
          this.initForm();
          this.dialogVisible = false;
          api.toast_succ(resp.msg)
        });
    },
    //查看详情
    aboutCust(item) {
      this.ifEdit = true;
      billApi.selectCusByCode(item.customerCode).then((resp) => {
        console.log(resp);
        this.custForm = resp;
        api.toast_succ(resp.msg)
      });
      this.dialogVisible = true;
    },
    //编辑
    editCust(item) {
      this.ifEdit = false;
      this.customerCode = item.customerCode;
      billApi.selectCusByCode(item.customerCode).then((resp) => {
        console.log(resp);
        this.custForm = resp;
      });
      this.dialogVisible = true;
    },
    //删除
    deleteCust(item) {
      this.customerCode = item.customerCode;
      this.ifdelete = true;
      this.dialogVisible = true;
      this.ifEdit = true;
      billApi.selectCusByCode(item.customerCode).then((resp) => {
        console.log(resp);
        this.custForm = resp;
        api.toast_succ(resp.msg)
      });
      this.dialogVisible = true;
    },

    //初始化
    initForm() {
      this.form.customer = "";
      this.form.phone = "";
      this.form.fax = "";
      this.form.postCode = "";
      this.form.address = "";
      this.form.linkman = "";
      this.form.linkmanMobile = "";
      this.form.customerType = "";
      this.form.enterpriseProperty = "";
      this.form.enterpriseSize = "";
      this.form.email = "";
      this.form.resetForm = "";
    },
    //添加客户
    onSubmit() {
      billApi.addCus(this.form).then((resp) => {
        console.log(resp);
        api.toast_succ(resp.msg)
      });
    },
    //下一页
    nextPage() {
      this.selectAllCus(this.pageformData.currentPage + 1);
    },
    //上一页
    prevPage() {
      this.selectAllCus(this.pageformData.currentPage - 1);
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      this.selectAllCus(page);
    },
    // 客户查询
    selectAllCus(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .selectAllCus(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    //打开对话框
    edit_click(item) {
      this.edit_view = true;
      console.log("进来啦");
      this.id = item.id;
      this.form.groupName = item.groupName;
      this.form.description = item.description;
    },
    handleClick(tab, event) {
      this.tableName = tab.name;
      if (tab.name !== "first") {
        this.selectAllCus();
      }
      console.log("点了一下下");
    },
    handleClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
        })
        .catch((_) => {});
    },
    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd hh:mm:ss");
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectAllCus();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>