<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="司机填写" name="first">
        <el-form ref="form" :model="form" label-width="120px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="司机姓名">
                <el-input
                  v-model="form.driverName"
                  placeholder="请输入司机姓名"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="身份证号">
                <el-input
                  v-model="form.idCard"
                  placeholder="请输入身份证号"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="电话">
                <el-input
                  v-model="form.phone"
                  placeholder="请输入电话"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="性别">
                <el-radio v-model="form.gender" label="男">男</el-radio>
                <el-radio v-model="form.gender" label="女">女</el-radio>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="出生日期">
                <el-date-picker
                  v-model="form.birthday"
                  type="datetime"
                  placeholder="选择日期时间"
                >
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="车号">
                <el-input
                  v-model="form.carNo"
                  placeholder="请输入车号"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="车型">
                <el-input
                  v-model="form.carType"
                  placeholder="请输入车型"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="准载体积">
                <el-input
                  v-model="form.allowCarryVolume"
                  placeholder="请输入准载体积"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-tag type="success" effect="plain">（单位： 立方米）</el-tag>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="准载重量">
                <el-input
                  v-model="form.allowCarryWeight"
                  placeholder="请输入准载重量"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-tag type="success" effect="plain">（单位： 吨）</el-tag>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="住址">
                <el-input
                  v-model="form.address"
                  placeholder="请输入住址"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="车厢长度">
                <el-input
                  v-model="form.carLength"
                  placeholder="请输入车厢长度"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="车厢宽度">
                <el-input
                  v-model="form.carWidth"
                  placeholder="请输入车厢宽度"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="载物高度">
                <el-input
                  v-model="form.goodsHeight"
                  placeholder="请输入载物高度"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="驾驶证">
                <el-input
                  v-model="form.driveLicence"
                  placeholder="请输入驾驶证"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="行驶证">
                <el-input
                  v-model="form.runLicence"
                  placeholder="请输入行驶证"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="营运证">
                <el-input
                  v-model="form.bizLicence"
                  placeholder="请输入营运证"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="保险证">
                <el-input
                  v-model="form.insuranceCard"
                  placeholder="请输入保险证"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="车架号">
                <el-input
                  v-model="form.carFrameNo"
                  placeholder="请输入车架号"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="发动机号">
                <el-input
                  v-model="form.engineNo"
                  placeholder="请输入发动机号"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="车属单位">
                <el-input
                  v-model="form.carDept"
                  placeholder="请输入车属单位"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="单位电话">
                <el-input
                  v-model="form.carDeptTel"
                  placeholder="请输入单位电话"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="公司车">
                <el-switch
                  active-value="1"
                  inactive-value="0"
                  v-model="form.companyCar"
                  active-color="#13ce66"
                  inactive-color="#ff4949"
                  active-text="是"
                  inactive-text="否"
                >
                </el-switch>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="备注">
                <el-input
                  v-model="form.remark"
                  placeholder="请输入备注"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>

          <el-form-item>
            <el-button type="primary" @click="onSubmit">立即提交</el-button>
            <el-button @click="initForm('form')">重置</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="司机查询" name="second">
        <el-table
          :data="tableData"
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column type="index" label="ID" sortable width="80">
          </el-table-column>
          <el-table-column prop="id" label="司机编号" sortable width="150">
          </el-table-column>
          <el-table-column prop="driverName" label="司机姓名">
          </el-table-column>
          <el-table-column prop="phone" label="电话"> </el-table-column>
          <el-table-column prop="state" label="状态"> </el-table-column>
          <el-table-column prop="runLicence" label="车号"> </el-table-column>
          <el-table-column prop="carType" label="车型"> </el-table-column>
          <el-table-column fixed="right" label="操作" width="250">
            <template slot-scope="scope">
              <el-button
                type="button"
                @click="aboutCust(scope.row)"
                size="small"
                class="el-button el-button--warning"
                >查看详情</el-button
              >
              <el-button
                @click="editCust(scope.row)"
                type="button"
                size="small"
                class="el-button el-button--primary"
                >修改</el-button
              >
              <el-button
                @click="deleteCust(scope.row)"
                type="button"
                size="small"
                class="el-button el-button--danger"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
        <div class="image-page">
          <el-row :gutter="20">
            <el-col :span="8" :offset="8">
              <div class="navigation-bar" style="padding-top: 40px">
                <!-- 分页部分 -->
                <el-pagination
                  background
                  layout="total, prev, pager, next, jumper"
                  :hide-on-single-page="false"
                  :page-size="pageformData.size"
                  :current-page="pageformData.currentPage"
                  :total="pageformData.total"
                  @prev-click="prevPage"
                  @next-click="nextPage"
                  @current-change="currentPageChange"
                >
                </el-pagination>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>
    </el-tabs>

    <el-dialog title="司机信息提示" :visible.sync="dialogVisible" width="70%">
      <span>
        <el-form ref="form" :model="form" label-width="120px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="司机姓名">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.driverName"
                  placeholder="请输入司机姓名"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="身份证号">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.idCard"
                  placeholder="请输入身份证号"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="电话">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.phone"
                  placeholder="请输入电话"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="性别">
                <el-radio v-model="form.gender" :disabled="ifEdit" label="男"
                  >男</el-radio
                >
                <el-radio v-model="form.gender" :disabled="ifEdit" label="女"
                  >女</el-radio
                >
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="出生日期">
                <el-date-picker
                  :disabled="ifEdit"
                  v-model="form.birthday"
                  type="datetime"
                  placeholder="选择日期时间"
                >
                </el-date-picker>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="车号">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.carNo"
                  placeholder="请输入车号"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="车型">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.carType"
                  placeholder="请输入车型"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="准载体积">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.allowCarryVolume"
                  placeholder="请输入准载体积"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-tag type="success" effect="plain">（单位： 立方米）</el-tag>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="准载重量">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.allowCarryWeight"
                  placeholder="请输入准载重量"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="4">
              <el-tag type="success" effect="plain">（单位： 吨）</el-tag>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="住址">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.address"
                  placeholder="请输入住址"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="车厢长度">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.carLength"
                  placeholder="请输入车厢长度"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="车厢宽度">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.carWidth"
                  placeholder="请输入车厢宽度"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="载物高度">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.goodsHeight"
                  placeholder="请输入载物高度"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="驾驶证">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.driveLicence"
                  placeholder="请输入驾驶证"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="行驶证">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.runLicence"
                  placeholder="请输入行驶证"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="营运证">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.bizLicence"
                  placeholder="请输入营运证"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="保险证">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.insuranceCard"
                  placeholder="请输入保险证"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="车架号">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.carFrameNo"
                  placeholder="请输入车架号"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="发动机号">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.engineNo"
                  placeholder="请输入发动机号"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="车属单位">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.carDept"
                  placeholder="请输入车属单位"
                ></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="单位电话">
                <el-input
                  :disabled="ifEdit"
                  v-model="form.carDeptTel"
                  placeholder="请输入单位电话"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="公司车">
                <el-switch
                  active-value="1"
                  inactive-value="0"
                  :disabled="ifEdit"
                  v-model="form.companyCar"
                  active-color="#13ce66"
                  inactive-color="#ff4949"
                  active-text="是"
                  inactive-text="否"
                >
                </el-switch>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="备注">
                <el-input
                  v-model="form.remark"
                  placeholder="请输入备注"
                  :disabled="ifEdit"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer" v-if="!ifEdit">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="doEdit">确 定</el-button>
      </span>
      <span slot="footer" class="dialog-footer" v-if="ifdelete">
        <el-button type="primary" @click="dodelete">删 除</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as billApi from "@/api/appControl/customerManage";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      customerCode: "",
      ifdelete: false,
      ifEdit: false,
      dialogVisible: false,
      options: [],
      tableName: "first",
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      form: {
        driverName: "",
        idCard: "",
        phone: "",
        gender: "",
        birthday: "",
        carNo: "",
        carType: "",
        allowCarryVolume: "",
        allowCarryWeight: "",
        address: "",
        carLength: "",
        carWidth: "",
        goodsHeight: "",
        driveLicence: "",
        runLicence: "",
        bizLicence: "",
        insuranceCard: "",
        carFrameNo: "",
        engineNo: "",
        carDept: "",
        carDeptTel: "",
        companyCar: 0,
        remark: "",
      },
      edit_view: false,
      activeName: "first",
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = [ 'ID', '司机编号','司机姓名','电话','状态','车号','车型']; // 导出的表头名信息
        const filterVal = ['index', 'id','driverName','phone','state','runLicence','carType']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '司机列表');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //执行删除
    dodelete() {
      billApi.deleteDriver(this.customerCode).then((resp) => {
        console.log(resp);
        this.selectAllByPage();
        this.initForm();
        this.dialogVisible = false;
        api.toast_succ(resp.msg)
      });
    },

    //执行更新
    doEdit() {
      billApi.update(this.customerCode, this.form).then((resp) => {
        console.log(resp);
        this.selectAllByPage();
        this.initForm();
        this.dialogVisible = false;
        api.toast_succ(resp.msg)
      });
    },
    //查看详情
    aboutCust(item) {
      this.ifEdit = true;
      billApi.selectById(item.id).then((resp) => {
        this.form = resp;
        api.toast_succ(resp.msg)
      });
      this.dialogVisible = true;
    },
    //编辑
    editCust(item) {
      this.ifEdit = false;
      this.customerCode = item.id;
      billApi.selectById(item.id).then((resp) => {
        this.form = resp;
      });
      this.dialogVisible = true;
    },
    //删除
    deleteCust(item) {
      this.customerCode = item.id;
      this.ifdelete = true;
      this.dialogVisible = true;
      this.ifEdit = true;
      billApi.selectById(item.id).then((resp) => {
        this.form = resp;
        api.toast_succ(resp.msg)
      });
      this.dialogVisible = true;
    },

    //初始化
    initForm() {
      this.form.customer = "";
      this.form.phone = "";
      this.form.fax = "";
      this.form.postCode = "";
      this.form.address = "";
      this.form.linkman = "";
      this.form.linkmanMobile = "";
      this.form.customerType = "";
      this.form.enterpriseProperty = "";
      this.form.enterpriseSize = "";
      this.form.email = "";
      this.form.resetForm = "";
    },
    //提交
    onSubmit() {
      billApi.addDriver(this.form).then((resp) => {
        console.log(resp);
      });
    },
    //初始化
    initForm() {
      this.form.driverName = "";
      this.form.idCard = "";
      this.form.phone = "";
      this.form.gender = "";
      this.form.birthday = "";
      this.form.carNo = "";
      this.form.carType = "";
      this.form.allowCarryVolume = "";
      this.form.allowCarryWeight = "";
      this.form.address = "";
      this.form.carLength = "";
      this.form.carWidth = "";
      this.form.goodsHeight = "";
      this.form.driveLicence = "";
      this.form.runLicence = "";
      this.form.bizLicence = "";
      this.form.insuranceCard = "";
      this.form.carFrameNo = "";
      this.form.engineNo = "";
      this.form.carDept = "";
      this.form.carDeptTel = "";
      this.form.switchValue = "";
      this.form.remark = "";
    },
    //下一页
    nextPage() {
      if (this.tableName === "first") {
        this.selectNoPageAll(this.pageformData.currentPage + 1);
      } else {
        this.selectAll(this.pageformData.currentPage + 1);
      }
    },
    //上一页
    prevPage() {
      if (this.tableName === "first") {
        this.selectNoPageAll(this.pageformData.currentPage - 1);
      } else {
        this.selectAll(this.pageformData.currentPage - 1);
      }
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      if (this.tableName === "first") {
        this.selectNoPageAll(page);
      } else {
        this.selectAll(page);
      }
    },
    // 分页查询司机
    selectAllByPage(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .selectAllByPage(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    //打开对话框
    edit_click(item) {
      this.edit_view = true;
      console.log("进来啦");
      this.id = item.id;
      this.form.groupName = item.groupName;
      this.form.description = item.description;
    },
    handleClick(tab, event) {
      this.tableName = tab.name;
      if (tab.name === "first") {
        this.selectAllByPage();
      }
      console.log("点了一下下");
    },
    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd hh:mm:ss");
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectAllByPage();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>