<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="添加职员" name="first">
        <el-form ref="form" :model="form" label-width="80px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="职员姓名">
                <el-input
                  v-model="form.employeeName"
                  placeholder="请输入职员姓名"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="部门">
                <el-select v-model="form.department" placeholder="请选择部门">
                  <el-option
                    v-for="item in optionsGroup"
                    :key="item.key"
                    :label="item.groupName"
                    :value="item.groupName"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4"
              ><el-tag type="success">请选择员工所在部门</el-tag></el-col
            >
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="职位">
                <el-select v-model="form.position" placeholder="请选择职位">
                  <el-option label="职员" value="员工"></el-option>
                  <el-option label="经理" value="经理"></el-option>
                  <el-option label="助理" value="助理"></el-option>
                  <el-option label="派件员" value="派件员"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4"
              ><el-tag type="success">请选择员工职位</el-tag></el-col
            >
          </el-row>
          <el-form-item label="性别">
            <el-radio v-model="form.gender" label="男">男</el-radio>
            <el-radio v-model="form.gender" label="女">女</el-radio>
          </el-form-item>
          <el-form-item label="用户情况">
            <el-switch
              v-model="form.checkbox"
              active-color="#13ce66"
              inactive-color="#ff4949"
            >
            </el-switch>
          </el-form-item>
          <el-form-item label="出生日期">
            <el-col :span="12">
              <el-date-picker
                type="date"
                placeholder="选择日期"
                v-model="form.birthday"
                style="width: 100%"
              ></el-date-picker>
            </el-col>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="addEmp">立即提交</el-button>
            <el-button>取消</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="职员查询" name="second">
        <el-table
          :data="tableData"
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column type="index" label="ID" sortable width="80">
          </el-table-column>
          <el-table-column
            prop="employeeCode"
            label="职员编号"
            sortable
            width="180"
          >
          </el-table-column>
          <el-table-column prop="employeeName" label="职员姓名" width="180">
          </el-table-column>
          <el-table-column prop="department" label="部门" sortable width="180">
          </el-table-column>
          <el-table-column prop="position" label="职位" width="180">
          </el-table-column>
          <el-table-column prop="birthday" label="出生日期"> </el-table-column>
          <el-table-column fixed="right" label="操作" width="250">
            <template slot-scope="scope">
              <el-button
                @click="editView(scope.row)"
                type="button"
                size="small"
                class="el-button el-button--primary"
                >修改</el-button
              >
              <el-button
                @click="deleteView(scope.row)"
                type="button"
                size="small"
                class="el-button el-button--danger"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
        <div class="image-page">
          <el-row :gutter="20">
            <el-col :span="8" :offset="8">
              <div class="navigation-bar" style="padding-top: 40px">
                <!-- 分页部分 -->
                <el-pagination
                  background
                  layout="total, prev, pager, next, jumper"
                  :hide-on-single-page="false"
                  :page-size="pageformData.size"
                  :current-page="pageformData.currentPage"
                  :total="pageformData.total"
                  @prev-click="prevPage"
                  @next-click="nextPage"
                  @current-change="currentPageChange"
                >
                </el-pagination>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>
    </el-tabs>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
      <span>
        <el-form ref="form" :model="form" label-width="80px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="职员姓名">
                <el-input
                  v-model="form.employeeName"
                  placeholder="请输入职员姓名"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="部门">
                <el-select v-model="form.department" placeholder="请选择部门">
                  <el-option
                    v-for="item in optionsGroup"
                    :key="item.key"
                    :label="item.groupName"
                    :value="item.groupName"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4"
              ><el-tag type="success">请选择员工所在部门</el-tag></el-col
            >
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="职位">
                <el-select v-model="form.position" placeholder="请选择职位">
                  <el-option label="职员" value="员工"></el-option>
                  <el-option label="经理" value="经理"></el-option>
                  <el-option label="助理" value="助理"></el-option>
                  <el-option label="派件员" value="派件员"></el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="4"
              ><el-tag type="success">请选择员工职位</el-tag></el-col
            >
          </el-row>
          <el-form-item label="性别">
            <el-radio v-model="form.gender" label="男">男</el-radio>
            <el-radio v-model="form.gender" label="女">女</el-radio>
          </el-form-item>
          <el-form-item label="用户情况">
            <el-switch
              v-model="form.checkbox"
              active-color="#13ce66"
              inactive-color="#ff4949"
            >
            </el-switch>
          </el-form-item>
          <el-form-item label="出生日期">
            <el-col :span="12">
              <el-date-picker
                type="date"
                placeholder="选择日期"
                v-model="form.birthday"
                style="width: 100%"
              ></el-date-picker>
            </el-col>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="doUpdate" v-if="!ifDelete"
          >确 定</el-button
        >
        <el-button type="primary" @click="doDelete" v-if="ifDelete"
          >删 除</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as billApi from "@/api/appControl/customerManage";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      employeeCode: "",
      ifDelete: false,
      dialogVisible: false,
      optionsGroup: [],
      tableName: "first",
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      form: {
        employeeName: "",
        department: "",
        position: "",
        gender: "",
        checkbox: "",
        birthday: "",
      },
      edit_view: false,
      activeName: "first",
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    //初始化
    initForm() {
      this.form.employeeName = "";
      this.form.department = "";
      this.form.position = "";
      this.form.gender = "";
      this.form.checkbox = "";
      this.form.birthday = "";
    },
     downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = [ 'ID', '职员编号','职员姓名','部门','职位','出生日期']; // 导出的表头名信息
        const filterVal = ['index', 'employeeCode','employeeName','department','position','birthday']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '职员列表');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },

    //执行删除
    doDelete() {
      billApi.deleteEmp(this.employeeCode).then((resp) => {
        console.log(resp);
        this.dialogVisible = false;
        this.initForm();
        this.selectAllEmp();
        api.toast_succ(resp.msg)
      });
    },

    //执行修改
    doUpdate() {
      billApi.updateEmp(this.form).then((resp) => {
        console.log(resp);
        this.dialogVisible = false;
        this.initForm();
        this.selectAllEmp();
        api.toast_succ(resp.msg)
      });
    },
    //删除职员
    deleteView(item) {
      this.ifDelete = true;
      this.dialogVisible = true;
      billApi.selectEmpByCode(item.employeeCode).then((resp) => {
        this.form = resp.employee;
        this.employeeCode = item.employeeCode;
        api.toast_succ(resp.msg)
      });
    },
    //编辑职员
    editView(item) {
      this.ifDelete = false;
      this.dialogVisible = true;
      billApi.selectEmpByCode(item.employeeCode).then((resp) => {
        this.form = resp.employee;
      });
    },
    // 添加职员
    addEmp() {
      billApi.addEmp(this.form).then((resp) => {
        console.log(resp);
        api.toast_succ(resp.msg)
      });
    },
    //获取城市范围
    selectAllUserGroup() {
      billApi.selectAllUserGroup().then((resp) => {
        console.log(resp);
        this.optionsGroup = resp;
      });
    },
    onSubmit() {},
    //下一页
    nextPage() {
      if (this.tableName === "first") {
        this.selectNoPageAll(this.pageformData.currentPage + 1);
      } else {
        this.selectAll(this.pageformData.currentPage + 1);
      }
    },
    //上一页
    prevPage() {
      if (this.tableName === "first") {
        this.selectNoPageAll(this.pageformData.currentPage - 1);
      } else {
        this.selectAll(this.pageformData.currentPage - 1);
      }
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      if (this.tableName === "first") {
        this.selectNoPageAll(page);
      } else {
        this.selectAll(page);
      }
    },
    // 查询员工
    selectAllEmp(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .selectAllEmp(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    //打开对话框
    edit_click(item) {
      this.edit_view = true;
      console.log("进来啦");
      this.id = item.id;
      this.form.groupName = item.groupName;
      this.form.description = item.description;
    },
    handleClick(tab, event) {
      this.tableName = tab.name;
      if (tab.name !== "first") {
        this.selectAllEmp(1);
      }
      this.initForm();
      console.log("点了一下下");
    },
    handleClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
        })
        .catch((_) => {});
    },
    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd");
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectAllEmp();
    this.selectAllUserGroup();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>