<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="城市信息" name="first">
        <el-table
          :data="tableData"
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column prop="cityId" label="ID" width="180" sortable>
          </el-table-column>
          <el-table-column prop="city" label="主要城市" width="180" sortable>
          </el-table-column>
          <el-table-column prop="rangeCityName" label="范围城市"> </el-table-column>
          <el-table-column fixed="right" label="操作" width="250">
            <template slot-scope="scope">
              <el-button
                type="warning"
                @click="aboutCust(scope.row)"
                size="small"
                class="el-button el-button--warning"
                >查看详情</el-button
              >
              <el-button
                @click="editCust(scope.row)"
                type="primary"
                size="small"
                class="el-button el-button--primary"
                >修改</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <div class="image-page">
          <el-row :gutter="20">
            <el-col :span="8" :offset="8">
              <div class="navigation-bar" style="padding-top: 40px">
                <!-- 分页部分 -->
                <el-pagination
                  background
                  layout="total, prev, pager, next, jumper"
                  :hide-on-single-page="false"
                  :page-size="pageformData.size"
                  :current-page="pageformData.currentPage"
                  :total="pageformData.total"
                  @prev-click="prevPage"
                  @next-click="nextPage"
                  @current-change="currentPageChange"
                >
                </el-pagination>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>
      <el-tab-pane label="添加城市范围信息" name="second">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="起点">
            <el-select v-model="form.start" placeholder="请选择活动区域">
              <el-option
                v-for="item in optionsStart"
                :key="item.key"
                :label="item.city"
                :value="item.city"
              >
              </el-option
            ></el-select>
          </el-form-item>
          <el-form-item label="终点">
            <el-select v-model="form.end" placeholder="请选择活动区域">
              <el-option
                v-for="item in optionsEnd"
                :key="item.key"
                :label="item.city"
                :value="item.city"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="已选范围">
            <el-tag>{{ form.start }}</el-tag>
            <el-tag type="info">——</el-tag>
            <el-tag type="success">{{ form.end }}</el-tag>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">立即创建</el-button>
            <el-button>取消</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <!-- <el-tab-pane label="线路信息" name="third">角色管理</el-tab-pane> -->
    </el-tabs>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
      <span>
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="起点">
            <el-select v-model="form.start" placeholder="请选择活动区域">
              <el-option
                v-for="item in optionsStart"
                :key="item.key"
                :label="item.city"
                :value="item.city"
              >
              </el-option
            ></el-select>
          </el-form-item>
          <el-form-item label="终点">
            <el-select v-model="form.end" placeholder="请选择活动区域">
              <el-option
                v-for="item in optionsEnd"
                :key="item.key"
                :label="item.city"
                :value="item.city"
              >
              </el-option>
            </el-select>
          </el-form-item>
          <el-form-item label="已选范围">
            <el-tag>{{ form.start }}</el-tag>
            <el-tag type="info">——</el-tag>
            <el-tag type="success">{{ form.end }}</el-tag>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="dialogVisible = false"
          >确 定</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as billApi from "@/api/appControl/customerManage";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      ifEdit: false,
      dialogVisible: false,
      optionsStart: [],
      optionsEnd: [],
      tableName: "first",
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      form: {
        start: "",
        end: "",
      },
      edit_view: false,
      activeName: "first",
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    //获取城市范围
    findAllRegions() {
      billApi.findAllRegions().then((resp) => {
        console.log(resp);
        this.optionsStart = resp;
        this.optionsEnd = resp;
      });
    },
    //查看详情
    aboutCust(item) {
      this.ifEdit = true;
      billApi.findExpand(item.id).then((resp) => {
        console.log(resp);
        api.toast_succ(resp.msg)
      });
      this.dialogVisible = true;
    },
    //编辑
    editCust(item) {
      this.ifEdit = false;
      billApi.findExpand(item.id).then((resp) => {
        console.log(resp);
      });
      this.dialogVisible = true;
    },
    onSubmit() {},
    //下一页
    nextPage() {
      if (this.tableName === "first") {
        this.selectNoPageAll(this.pageformData.currentPage + 1);
      } else {
        this.selectAll(this.pageformData.currentPage + 1);
      }
    },
    //上一页
    prevPage() {
      if (this.tableName === "first") {
        this.selectNoPageAll(this.pageformData.currentPage - 1);
      } else {
        this.selectAll(this.pageformData.currentPage - 1);
      }
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      if (this.tableName === "first") {
        this.selectNoPageAll(page);
      } else {
        this.selectAll(page);
      }
    },
    // 得到所有的城市范围信息
    findAllExpands(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .findAllExpands(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    handleClick(tab, event) {
      this.tableName = tab.name;
      if (tab.name === "first") {
        this.findAllExpands();
      }
      console.log("点了一下下");
    },

    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd hh:mm:ss");
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.findAllExpands();
    this.findAllRegions();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>