<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="司机管理" name="first">
        <el-table
          :data="tableData"
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column type="index" label="ID" width="180">
          </el-table-column>
          <el-table-column prop="goodsBillCode" sortable label="货运单编号">
          </el-table-column>
          <el-table-column prop="sendGoodsCustomer" label="发货客户姓名">
          </el-table-column>
          <el-table-column prop="sendGoodsCustomerTel" label="发货客户电话">
          </el-table-column>
          <el-table-column prop="receiveGoodsCustomer" label="收货客户姓名">
          </el-table-column>
          <el-table-column prop="receiveGoodsCustomerTel" label="收货客户电话">
          </el-table-column>

          <el-table-column prop="tools" label="操作">
            <template slot-scope="scope">
              <el-button type="primary" @click="driverCli(scope.row)">
                到货通知
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="用户管理" name="second">
        <el-table
          :data="tableData"
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column type="index" label="ID" width="180">
          </el-table-column>
          <el-table-column prop="goodsBillCode" sortable label="货运单编号">
          </el-table-column>
          <el-table-column prop="sendGoodsCustomer" label="发货客户姓名">
          </el-table-column>
          <el-table-column prop="sendGoodsCustomerTel" label="发货客户电话">
          </el-table-column>
          <el-table-column prop="receiveGoodsCustomer" label="收货客户姓名">
          </el-table-column>
          <el-table-column prop="receiveGoodsCustomerTel" label="收货客户电话">
          </el-table-column>

          <el-table-column prop="tools" label="操作">
            <template slot-scope="scope">
              <el-button type="primary" @click="driverCli(scope.row)">
                到货通知
              </el-button>
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
    </el-tabs>

    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
      <span v-if="this.activeName === 'first'">
        <el-form :model="formInline" class="demo-form-inline">
          <el-form-item label="回执编号">
            <el-input v-model="formInline.goodsRevertCode" disabled></el-input>
          </el-form-item>
          <el-form-item label="司机姓名">
            <el-input v-model="formInline.driverName" disabled></el-input>
          </el-form-item>
          <el-form-item label="验收记录">
            <el-input v-model="formInline.checkGoodsRecord"></el-input>
          </el-form-item>
          <el-form-item label="收货人">
            <el-input
              v-model="formInline.receiveGoodsPerson"
              disabled
            ></el-input>
          </el-form-item>
          <el-form-item label="收货日期">
            <el-date-picker
              disabled
              v-model="formInline.rceiveGoodsDate"
              type="date"
              placeholder="选择日期"
              :default-value="formInline.rceiveGoodsDate"
            >
            </el-date-picker>
          </el-form-item>
        </el-form>
      </span>
      <span v-if="this.activeName !== 'first'">
        <el-form :model="formInline" class="demo-form-inline">
          <el-form-item label="货运单编号">
            <el-input v-model="formInline1.goodsBillCode" disabled></el-input>
          </el-form-item>
          <el-form-item label="客户姓名">
            <el-input v-model="formInline1.customer" disabled></el-input>
          </el-form-item>
          <el-form-item label="验收记录">
            <el-input v-model="formInline1.checkGoodsRecord"></el-input>
          </el-form-item>
          <el-form-item label="收货人">
            <el-input
              v-model="formInline1.receiveGoodsPerson"
              disabled
            ></el-input>
          </el-form-item>
          <el-form-item label="收货日期">
            <el-date-picker
              v-model="formInline1.receiveGoodsDate"
              type="date"
              placeholder="选择日期"
            >
            </el-date-picker>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="onSubmit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as driverApi from "@/api/getGoodsControl/driverCallback";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      activeName: "first",
      formInline: {
        goodsRevertCode: "",
        driverName: "",
        checkGoodsRecord: "",
        receiveGoodsPerson: "",
        rceiveGoodsDate: "",
      },
      formInline1: {
        carryBillEventId: "",
        checkGoodsRecord: "",
        customer: "",
        goodsBillCode: "",
        receiveGoodsDate: "",
        receiveGoodsPerson: "",
      },
      dialogVisible: false,
      activeName: "first",
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    findWait() {
      driverApi.findWait(this.$store.getters.user.loginId).then((resp) => {
        console.log(resp);
        this.tableData = resp.data;
      });
    },

    handleClick(tab, event) {
      console.log(tab, event);
    },
    initForm() {
      this.formInline.goodsRevertCode = "";
      this.formInline.driverName = "";
      this.formInline.checkGoodsRecord = "";
      this.formInline.receiveGoodsPerson = "";
      this.formInline.rceiveGoodsDate = "";
      this.formInline1.carryBillEventId = "";
      this.formInline1.checkGoodsRecord = "";
      this.formInline1.customer = "";
      this.formInline1.goodsBillCode = "";
      this.formInline1.receiveGoodsDate = "";
      this.formInline1.receiveGoodsPerson = "";
    },
    //提交到货通知
    onSubmit() {
      if (this.activeName === "first") {
        console.log("submit!");
        driverApi.addArrived(this.formInline).then((resp) => {
          console.log(resp);
          this.dialogVisible = false;
          api.toast_succ(resp.msg);
          this.initForm();
          if (this.activeName === "first") {
            this.arriveGoods();
          } else {
            this.findWait();
          }
          api.toast_succ(resp.msg)
        });
      } else {
        console.log("submit!");
        driverApi.addCusRec(this.formInline1).then((resp) => {
          console.log(resp);
          this.dialogVisible = false;
          api.toast_succ(resp.msg);
          this.initForm();
          if (this.activeName === "first") {
            this.arriveGoods();
          } else {
            this.findWait();
          }
          api.toast_succ(resp.msg)
        });
      }
    },
    //到货通知
    driverCli(item) {
      let _this = this;
      if (this.activeName === "first") {
        this.formInline.rceiveGoodsDate = new Date();
        driverApi.findRevertId(item.goodsBillCode).then((resp) => {
          _this.formInline.goodsRevertCode = resp;
          // console.log(_this.formInline.goodsRevertCode);
          _this.formInline.receiveGoodsPerson = item.receiveGoodsCustomer;
          api.toast_succ(resp.msg)
        });

        // 司机登陆的时候才能获取司机姓名
        //this.$store.getters.user.loginId
        driverApi.selectById(this.$store.getters.user.loginId).then((resp) => {
          console.log(resp);
          _this.formInline.driverName = resp.driverName;
          api.toast_succ(resp.msg)
        });
        _this.dialogVisible = true;
      } else {
        console.log(this.formInline1.rceiveGoodsDate);
        driverApi.selectByCode(item.goodsBillCode).then((resp) => {
          console.log(resp, "---");
          _this.formInline1 = resp;
          this.formInline1.carryBillEventId = "";
          // this.formInline1.checkGoodsRecord = resp.checkGoodsRecord;
          this.formInline1.customer = resp.receiveGoodsCustomer;
          this.formInline1.goodsBillCode = item.goodsBillCode;
          this.formInline1.receiveGoodsPerson = resp.receiveGoodsCustomerCode;
          _this.dialogVisible = true;
          api.toast_succ(resp.msg)
        });
      }
    },
    //获取中转历史
    arriveGoods() {
      driverApi.arriveGoods(this.$store.getters.user.loginId).then((resp) => {
        this.tableData = resp.data;
      });
    },
    handleClick(tab, event) {
      // console.log(tab, event);
      console.log("点了一下下");
      if (tab.name === "first") {
        this.arriveGoods();
      } else {
        this.findWait();
      }
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.arriveGoods();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>