<template>
  <div>
    <el-tabs
      v-model="activeName"
      @tab-click="handleClick"
      :default-sort="{ prop: 'date', order: 'descending' }"
    >
      <el-tab-pane label="新单回告" name="first">
        <el-table :data="tableData" border style="width: 100%">
          <el-table-column type="index" label="ID" width="150" sortable>
          </el-table-column>
          <el-table-column
            prop="goodsBillCode"
            label="运单号"
            width="120"
            sortable
          >
          </el-table-column>
          <el-table-column prop="sendGoodsCustomer" label="发货人" width="120">
          </el-table-column>
          <el-table-column prop="sendGoodsCustomerAddr" label="发货地">
          </el-table-column>
          <el-table-column prop="receiveGoodsCustomer" label="收货人">
          </el-table-column>
          <el-table-column prop="receiveGoodsCustomerAddr" label="收货地">
          </el-table-column>
          <el-table-column fixed="right" label="操作" width="250">
            <template slot-scope="scope">
              <el-button @click="editView(scope.row)" type="primary" size="small"
                >回告客户</el-button
              >
              <!-- <el-button type="warning" size="small" @click="about(scope.row)"
                >查看回告详情</el-button
              > -->
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="回告历史" name="second">
        <el-table
          :data="tableData"
          border
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column type="index" label="ID" width="150" sortable>
          </el-table-column>
          <el-table-column
            prop="goodsBillCode"
            label="运单号"
            width="120"
            sortable
          >
          </el-table-column>
          <el-table-column prop="sendGoodsCustomer" label="发货人" width="120">
          </el-table-column>
          <el-table-column prop="sendGoodsCustomerAddr" label="发货地">
          </el-table-column>
          <el-table-column prop="receiveGoodsCustomer" label="收货人">
          </el-table-column>
          <el-table-column prop="receiveGoodsCustomerAddr" label="收货地">
          </el-table-column>
          <el-table-column fixed="right" label="操作" width="150">
            <template slot-scope="scope">
              <el-button type="warning" size="small" @click="about(scope.row)"
                >查看回告详情</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
      </el-tab-pane>
      <div class="image-page">
      <el-row :gutter="20">
        <el-col :span="8" :offset="8">
          <div class="navigation-bar" style="padding-top: 40px">
            <!-- 分页部分 -->
            <el-pagination
              background
              layout="total, prev, pager, next, jumper"
              :hide-on-single-page="false"
              :page-size="pageformData.size"
              :current-page="pageformData.currentPage"
              :total="pageformData.total"
              @prev-click="prevPage"
              @next-click="nextPage"
              @current-change="currentPageChange"
            >
            </el-pagination>
          </div>
        </el-col>
      </el-row>
    </div>
    </el-tabs>

    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
      <span>
        <el-form
          :model="ruleForm"
          ref="ruleForm"
          label-width="180px"
          class="demo-ruleForm"
        >
          <el-form-item label="拨出号码" prop="dialNo">
            <el-input v-model="ruleForm.dialNo" :disabled="ifEdit"></el-input>
          </el-form-item>
          <el-form-item label="类别" prop="type">
            <el-input v-model="ruleForm.type" :disabled="ifEdit"></el-input>
          </el-form-item>
          <el-form-item label="内容" prop="content">
            <el-input v-model="ruleForm.content" :disabled="ifEdit"></el-input>
          </el-form-item>
          <el-form-item label="填写人" prop="writer">
            <el-input v-model="ruleForm.writer" :disabled="ifEdit"></el-input>
          </el-form-item>
          <el-form-item label="货运单号" prop="goodsBillId" >
            <el-input v-model="ruleForm.goodsBillId" :disabled="ifEdit"></el-input>
          </el-form-item>
          <el-form-item label="填写时间" prop="writeTime">
            <el-date-picker
              v-model="ruleForm.writeTime"
              type="date"
              :disabled="ifEdit"
              placeholder="选择日期"
            >
            </el-date-picker>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer" v-if="!ifEdit">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="doEdit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as billApi from "@/api/customerService/informGet";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      lookName: "提货回告",
      ifEdit: false,
      dialogVisible: false,
      //领票人
      options: [],
      tableName: "first",
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      billCode: "",
      ruleForm: {
        dialNo: "",
        type: "",
        content: "",
        writer: "",
        writeTime: "",
        goodsBillId:"",
      },
      edit_view: false,
      activeName: "first",
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = [ '运单号', '发货人','发货地','收货人','收货地']; // 导出的表头名信息
        const filterVal = ['goodsBillCode', 'sendGoodsCustomer','sendGoodsCustomerAddr','receiveGoodsCustomer','receiveGoodsCustomerAddr']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '提货回告历史');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //提交
    doEdit() {
      billApi.addInfo(this.ruleForm).then((resp) => {
        console.log(resp);
        this.dialogVisible = false;
        if (resp.code === 1) {
          api.toast_succ(resp.msg);
        } else {
          api.toast_err(resp.msg);
        }
        api.toast_succ(resp.msg)
      });
    },

    //查询
    about(item) {
      this.ruleForm = {};
      // this.ifEdit = true;
      // this.dialogVisible = true;
      let _this = this;
      billApi.findDetail1(item.goodsBillCode,"提货回告").then((resp) => {
       if (resp === "") {
          console.log("查询为空");
        } else {
        //   console.log(resp);
        //   // this.ruleForm = resp;
        //   _this.ruleForm.dialNo = resp.receiveGoodsCustomerTel;
        //   _this.ruleForm.type = "提货回告";
        //   // _this.ruleForm.content = "";
        //   _this.ruleForm.writer = this.$store.getters.user.loginId;
        //   _this.ruleForm.writeTime = new Date();
        //   _this.ifEdit = true;
        //   _this.dialogVisible = true;
        //    _this.ruleForm.goodsBillId = item.goodsBillCode;
        //   console.log(_this.ruleForm.goodsBillId);
        //   // console.log(item.goodsBillCode);
        //   console.log(_this.ruleForm);
        // }
        
          console.log(resp);
          // this.ruleForm = resp;
          _this.ruleForm.dialNo = resp.dialNo;
          _this.ruleForm.type = resp.type;
          _this.ruleForm.content = resp.content;
          _this.ruleForm.writer = resp.writer;
          _this.ruleForm.writeTime = resp.writeTime;
          _this.ifEdit = true;
          _this.dialogVisible = true;
           _this.ruleForm.goodsBillId = resp.goodsBillId;
          // console.log(_this.ruleForm.goodsBillId);
          // console.log(item.goodsBillCode);
          console.log(_this.ruleForm);
        }
      });
    },
    //编辑
    editView(item) {
      this.ruleForm = {};
      // this.ifEdit = false;
      // this.dialogVisible = true;
      let _this = this;
      billApi.findDetail(item.goodsBillCode).then((resp) => {
        if (resp === "") {
          console.log("查询为空");
        } else {
          console.log(resp);
          // this.ruleForm = resp;
          _this.ruleForm.dialNo = resp.receiveGoodsCustomerTel;
          _this.ruleForm.type = "提货回告";
          // _this.ruleForm.content = "";
          _this.ruleForm.writer = this.$store.getters.user.loginId;
          _this.ruleForm.writeTime = new Date();
          _this.ifEdit = false;
          _this.dialogVisible = true;
           _this.ruleForm.goodsBillId = item.goodsBillCode;
          console.log(_this.ruleForm.goodsBillId);
          // console.log(item.goodsBillCode);
          console.log(_this.ruleForm);
        }
      });
    },

    //下一页
    nextPage() {
      if (this.tableName === "first") {
        this.findInform(this.pageformData.currentPage + 1);
      } else {
        this.findOldInform(this.pageformData.currentPage + 1);
      }
    },
    //上一页
    prevPage() {
      if (this.tableName === "first") {
        this.findInform(this.pageformData.currentPage - 1);
      } else {
        this.findOldInform(this.pageformData.currentPage - 1);
      }
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      if (this.tableName === "first") {
        this.findInform(page);
      } else {
        this.findOldInform(page);
      }
    }, //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd");
    },
    // 查看回告历史
    findOldInform(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .findOldInform(
          this.lookName,
          this.pageformData.currentPage,
          this.pageformData.size
        )
        .then((resp) => {
          console.log(resp);
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    // 获取所有未发过
    findInform(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .findInform(
          this.lookName,
          this.pageformData.currentPage,
          this.pageformData.size
        )
        .then((resp) => {
          console.log(resp);
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    handleClick(tab, event) {
      console.log(tab.name);
      if (tab.name === "first") {
        this.lookName = "提货回告";
        this.findInform();
      } else {
        this.lookName = "提货回告";
        this.findOldInform();
      }
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.findInform();
    // this.findOldInform();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>