<template>
  <div>
    <template>
      <el-tabs v-model="activeName" @tab-click="handleClick">
        <el-tab-pane label="所有合同" name="first">
          <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort="{ prop: 'backBillState', order: 'descending' }"
          >
            <el-table-column type="index" label="ID" width="180">
            </el-table-column>
            <el-table-column prop="goodsRevertBillCode" label="货运回执单编号">
            </el-table-column>
            <el-table-column prop="backBillState" label="回执单状态" sortable>
            </el-table-column>
            <el-table-column prop="receiveGoodsLinkman" label="收货联系人">
            </el-table-column>
            <el-table-column prop="tools" label="操作">
              <template slot-scope="scope">
                <el-button type="warning" @click="selectByCode(scope.row)">
                  查看
                </el-button>
                <el-button type="primary" @click="editView(scope.row)">
                  编辑
                </el-button>
                <el-button type="danger" @click="deleteView(scope.row)">
                  删除
                </el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-button type="primary" @click="downloadExcel">导出</el-button>
        </el-tab-pane>
      </el-tabs>
      <el-row :gutter="20">
        <el-col :span="8" :offset="8">
          <div class="navigation-bar" style="padding-top: 40px">
            <!-- 分页部分 -->
            <el-pagination
              background
              layout="total, prev, pager, next, jumper"
              :hide-on-single-page="false"
              :page-size="pageformData.size"
              :current-page="pageformData.currentPage"
              :total="pageformData.total"
              @prev-click="prevPage"
              @next-click="nextPage"
              @current-change="currentPageChange"
            >
            </el-pagination>
          </div>
        </el-col>
      </el-row>

      <el-dialog
        title="提示"
        :visible.sync="dialogVisible"
        width="70%"
        :before-close="handleClose"
      >
        <span>
          <el-form
            :model="ruleForm"
            ref="ruleForm"
            label-width="180px"
            class="demo-ruleForm"
          >
            <!-- 货运回执单编号 -->
            <el-form-item label="货运回执单编号" prop="region">
              <el-input
                v-model="ruleForm.goodsRevertBillCode"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>
            <!-- 装货地点 、起运时间 -->
            <el-form-item label="装货地点" prop="name">
              <el-input
                v-model="ruleForm.loadStation"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>
            <el-form-item label="起运时间" prop="name">
              <div class="block">
                <el-date-picker
                  v-model="ruleForm.startCarryTime"
                  type="date"
                  placeholder="选择日期"
                  :disabled="isEdit"
                >
                </el-date-picker>
              </div>
            </el-form-item>

            <!-- 交货地点 到达时间 -->

            <el-form-item label="交货地点" prop="name">
              <el-input
                v-model="ruleForm.dealGoodsStation"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <el-form-item label="到达时间" prop="name">
              <div class="block">
                <el-date-picker
                  v-model="ruleForm.arriveTime"
                  type="date"
                  placeholder="选择日期"
                  :disabled="isEdit"
                >
                </el-date-picker>
              </div>
            </el-form-item>

            <!-- 收货联系人、联系人电话 -->

            <el-form-item label="收货联系人" prop="name">
              <el-input
                :disabled="isEdit"
                v-model="ruleForm.receiveGoodsLinkman"
              ></el-input>
            </el-form-item>

            <el-form-item label="联系人电话" prop="name">
              <el-input
                :disabled="isEdit"
                v-model="ruleForm.linkmanPhone"
              ></el-input>
            </el-form-item>

            <!-- 收货详细地址 -->
            <el-form-item label="收货详细地址" prop="name">
              <el-input
                :disabled="isEdit"
                v-model="ruleForm.receiveGoodsDetailAddr"
              ></el-input>
            </el-form-item>
            <!-- 运费结算方式 ，备注 -->

            <el-form-item label="运费结算方式" prop="name">
              <el-input
                v-model="ruleForm.carriageBanlanceMode"
                placeholder="请输入运费结算方式"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <el-form-item label="备注" prop="name">
              <el-input
                v-model="ruleForm.remark"
                placeholder="请输入备注"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <!-- 司机编号 是否结算 -->

            <el-form-item label="司机编号" prop="name">
              <el-input
                :disabled="isEdit"
                v-model="ruleForm.driverId"
                placeholder="请输入司机编号"
              ></el-input>
            </el-form-item>

            <el-form-item label="是否结算" prop="name">
              <el-switch
                v-model="ruleForm.ifBalance"
                :disabled="isEdit"
              ></el-switch>
            </el-form-item>

            <!-- 回执单状态 起运时的预付费用 -->

            <el-form-item label="回执单状态" prop="name">
              <el-input
                v-model="ruleForm.backBillState"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <el-form-item label="起运时的预付费用" prop="name">
              <el-input
                v-model="ruleForm.startAdvance"
                placeholder="请输入起运时的预付费用"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <!-- 送货单回执押金 承运人订装货物保证金 -->

            <el-form-item label="送货单回执押金" prop="name">
              <el-input
                v-model="ruleForm.carryGoodsBillDeposit"
                placeholder="请输入送货单回执押金"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <el-form-item label="承运人订装货物保证金" prop="name">
              <el-input
                v-model="ruleForm.carryGoodsInsurance"
                placeholder="请输入承运人订装货物保证金用"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <!-- 配载服务费 总运费 -->

            <el-form-item label="配载服务费" prop="name">
              <el-input
                v-model="ruleForm.dispatchServiceFee"
                placeholder="请输入配载服务费"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <el-form-item label="总运费" prop="name">
              <el-input
                v-model="ruleForm.allCarriage"
                placeholder="请输入总运费"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <!-- 保险费 签定时间 -->

            <el-form-item label="保险费" prop="name">
              <el-input
                v-model="ruleForm.insurance"
                placeholder="请输入保险费"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <el-form-item label="签定时间" prop="name">
              <div class="block">
                <el-date-picker
                  v-model="ruleForm.signTime"
                  type="date"
                  placeholder="选择日期"
                  :disabled="isEdit"
                >
                </el-date-picker>
              </div>
            </el-form-item>

            <!-- 接货点 总运费 -->

            <el-form-item label="接货点" prop="name">
              <el-input
                v-model="ruleForm.acceptStation"
                placeholder="请输入接货点"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>

            <el-form-item label="运费计价方式" prop="name">
              <el-input
                v-model="ruleForm.carriageMode"
                placeholder="请输入运费计价方式"
                :disabled="isEdit"
              ></el-input>
            </el-form-item>
          </el-form>
        </span>
        <span slot="footer" class="dialog-footer" v-if="!isEdit">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button @click="submit">发 货</el-button>
          <el-button type="primary" @click="doEdit">确 定</el-button>
        </span>
        <span slot="footer" class="dialog-footer" v-if="isDelete">
          <el-button @click="dialogVisible = false">取 消</el-button>
          <el-button type="primary" @click="doDelete">删 除</el-button>
        </span>
      </el-dialog>
    </template>
  </div>
</template>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as cargoApi from "@/api/vehicleControl/cargoReceiptDetail";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      goodsRevertBillCode: "",
      isDelete: false,
      isEdit: false,
      dialogVisible: false,
      activeName: "first",
      tableData: [],
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      ruleForm: {},
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    submit() {
      cargoApi.submit(this.ruleForm).then((resp) => {
        console.log(resp);
        this.dialogVisible = false;
        this.selectAll();
      });
    },
    //执行删除
    doDelete() {
      cargoApi.deleteGoods(this.goodsRevertBillCode).then((resp) => {
        console.log(resp);
        this.dialogVisible = false;
        this.selectAll();
      });
    },
    //执行修改
    doEdit() {
      cargoApi.update(this.ruleForm).then((resp) => {
        console.log(resp);
        this.dialogVisible = false;
        this.selectAll();
      });
    },
    //打开删除
    deleteView(item) {
      this.dialogVisible = true;
      this.isDelete = true;
      this.isEdit = true;
      this.goodsRevertBillCode = item.goodsRevertBillCode;
      cargoApi.selectByCode(item.goodsRevertBillCode).then((resp) => {
        this.ruleForm = resp;
      });
    },
    //打开修改
    editView(item) {
      this.dialogVisible = true;
      this.isEdit = false;
      cargoApi.selectByCode(item.goodsRevertBillCode).then((resp) => {
        this.ruleForm = resp;
      });
    },

    downloadExcel() {
      this.$confirm("确定下载列表文件?", "提示", {
        confirmButtonText: "确定",
        cancelButtonText: "取消",
        type: "warning",
      })
        .then(() => {
          // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
          this.excelData = this.tableData;
          this.export2Excel();
        })
        .catch(() => {});
    },
    // 数据写入excel
    export2Excel() {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require("@/excel/export2Excel"); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = ["ID", "货运回执单编号", "回执单状态", "收货联系人"]; // 导出的表头名信息
        const filterVal = [
          "id",
          "goodsRevertBillCode",
          "backBillState",
          "receiveGoodsLinkman",
        ]; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, "运输合同"); // 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson(filterVal, jsonData) {
      return jsonData.map((v) => filterVal.map((j) => v[j]));
    },
    //通过订单编号查询单个订单信息
    selectByCode(item) {
      this.dialogVisible = true;
      this.isEdit = true;
      cargoApi.selectByCode(item.goodsRevertBillCode).then((resp) => {
        this.ruleForm = resp;
      });
    },
    //查询所有订单
    selectAll(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      cargoApi
        .selectAll(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },

    //下一页
    nextPage() {
      this.selectAll(this.pageformData.currentPage + 1);
    },
    //上一页
    prevPage() {
      this.selectAll(this.pageformData.currentPage - 1);
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      this.selectAll(page);
    },
    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd");
    },
    handleClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
        })
        .catch((_) => {});
    },

    handleClick(tab, event) {
      // console.log(tab, event);
      console.log("点了一下下");
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectAll();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>