<template>
  <div style="overflow: auto" id="box-edit">
    <el-form
      :model="ruleForm"
      ref="ruleForm"
      label-width="180px"
      class="demo-ruleForm"
    >
      <!-- 货运回执单编号 -->
      <el-form-item label="货运回执单编号" prop="region">
        <el-select
          v-model="ruleForm.goodsRevertBillCode"
          placeholder="请选择货运回执单编号"
          @change="selectGoodsBill"
        >
          <el-option
            v-for="item in optionBillCode"
            :key="item.key"
            :label="item"
            :value="item"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <!-- 装货地点 、起运时间 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="装货地点" prop="name">
            <el-select
              v-model="ruleForm.loadStation"
              placeholder="请选择装货地点"
            >
              <el-option
                v-for="item in optionArr"
                :key="item.key"
                :label="item.city"
                :value="item.city"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="起运时间" prop="name">
            <div class="block">
              <el-date-picker
                v-model="ruleForm.startCarryTime"
                type="date"
                placeholder="选择日期"
                
              >
              </el-date-picker>
            </div>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 交货地点 到达时间 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="交货地点" prop="name">
            <el-select
              v-model="ruleForm.dealGoodsStation"
              placeholder="请选择交货地点"
            >
              <el-option
                v-for="item in optionArr"
                :key="item.key"
                :label="item.city"
                :value="item.city"
              >
              </el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="到达时间" prop="name">
            <div class="block">
              <el-date-picker
                v-model="ruleForm.arriveTime"
                type="date"
                placeholder="选择日期"
                disabled
              >
              </el-date-picker>
            </div>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 收货联系人、联系人电话 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="收货联系人" prop="name">
            <el-input
              disabled
              v-model="ruleForm.receiveGoodsLinkman"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="联系人电话" prop="name">
            <el-input disabled v-model="ruleForm.linkmanPhone"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 收货详细地址 -->
      <el-form-item label="收货详细地址" prop="name">
        <el-input disabled v-model="ruleForm.receiveGoodsDetailAddr"></el-input>
      </el-form-item>
      <!-- 运费结算方式 ，备注 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="运费结算方式" prop="name">
            <el-input
              v-model="ruleForm.carriageBanlanceMode"
              placeholder="请输入运费结算方式"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="备注" prop="name">
            <el-input
              v-model="ruleForm.remark"
              placeholder="请输入备注"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 司机编号 是否结算 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="司机编号" prop="name">
             <!-- <el-input v-model="form.receiveBillPerson"></el-input> -->
              <el-select v-model="ruleForm.driverId" placeholder="请选择">
                <el-option
                  v-for="item in options"
                  :key="item.key"
                  :label="item"
                  :value="item"
                >
                </el-option>
              </el-select>
            <!-- <el-input
              disabled
              v-model="ruleForm.driverId"
              placeholder="请输入司机编号"
            ></el-input> -->
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否结算" prop="name">
            <el-switch v-model="ruleForm.ifBalance" disabled></el-switch>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 回执单状态 起运时的预付费用 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="回执单状态" prop="name">
            <el-select
              v-model="ruleForm.backBillState"
              placeholder="未出合同"
              disabled
            >
              <el-option label="区域一" value="shanghai"></el-option>
              <el-option label="区域二" value="beijing"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="起运时的预付费用" prop="name">
            <el-input
              v-model="ruleForm.startAdvance"
              placeholder="请输入起运时的预付费用"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 送货单回执押金 承运人订装货物保证金 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="送货单回执押金" prop="name">
            <el-input
              v-model="ruleForm.carryGoodsBillDeposit"
              placeholder="请输入送货单回执押金"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="承运人订装货物保证金" prop="name">
            <el-input
              v-model="ruleForm.carryGoodsInsurance"
              placeholder="请输入承运人订装货物保证金用"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 配载服务费 总运费 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="配载服务费" prop="name">
            <el-input
              v-model="ruleForm.dispatchServiceFee"
              placeholder="请输入配载服务费"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="总运费" prop="name">
            <el-input
              v-model="ruleForm.allCarriage"
              placeholder="请输入总运费"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 保险费 签定时间 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="保险费" prop="name">
            <el-input
              v-model="ruleForm.insurance"
              placeholder="请输入保险费"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="签定时间" prop="name">
            <div class="block">
              <el-date-picker
                v-model="ruleForm.signTime"
                type="date"
                placeholder="选择日期"
              >
              </el-date-picker>
            </div>
          </el-form-item>
        </el-col>
      </el-row>

      <!-- 接货点 总运费 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="接货点" prop="name">
            <el-input
              v-model="ruleForm.acceptStation"
              placeholder="请输入接货点"
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="运费计价方式" prop="name">
            <el-input
              v-model="ruleForm.carriageMode"
              placeholder="请输入运费计价方式"
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 提交按钮 -->
      <el-form-item>
        <el-button type="primary" @click="addCargo"
          >立即提交</el-button
        >
        <el-button @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as editCargoApi from "@/api/vehicleControl/editCargoReceipt";
import * as billApi from "@/api/billControl/billRelease";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      //领票人
      options: [],
      optionArr: [],
      optionBillCode: [],
      ruleForm: {
        goodsRevertBillCode: "",
        acceptStation: "",
        allCarriage: 0,
        arriveTime: "",
        backBillState: "",
        carriageBanlanceMode: "",
        carriageMode: "",
        carryGoodsBillDeposit: 0,
        carryGoodsInsurance: 0,
        dealGoodsStation: "",
        dispatchServiceFee: 0,
        driverId: "",
        ifBalance: "未结算",
        insurance: 0,
        linkmanPhone: "",
        loadStation: "",
        receiveGoodsDetailAddr: "",
        receiveGoodsLinkman: "",
        remark: "",
        signTime: "",
        startAdvance: 0,
        startCarryTime: "",
      },
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    //提交运输合同
    addCargo() {
      editCargoApi.addCargo(this.ruleForm).then((resp) => {
        console.log(resp);
      });
    },

    //获取地点的列表
    findAllRegions() {
      editCargoApi.findAllRegions().then((resp) => {
        this.optionArr = resp;
      });
    },

    //通过回执单编号获取收货人信息
    selectGoodsBill(item) {
      let _this = this;
      // console.log(item);
      editCargoApi.selectGoodsBill(item).then((resp) => {
        // console.log(resp)
        _this.ruleForm.receiveGoodsLinkman = resp.receiveGoodsCustomer;
        _this.ruleForm.linkmanPhone = resp.receiveGoodsCustomerTel;
        _this.ruleForm.receiveGoodsDetailAddr = resp.receiveGoodsCustomerAddr;
      });
    },
    //查询未被安排的货运单
    selectLeftCodes() {
      editCargoApi.selectLeftCodes().then((resp) => {
        console.log(resp);
        this.optionBillCode = resp;
      });
    },

    //初始化表单
    initRuleForm() {
      this.ruleForm.goodsRevertBillCode = "";
      this.ruleForm.acceptStation = "";
      this.ruleForm.allCarriage = 0;
      this.ruleForm.arriveTime = "";
      this.ruleForm.backBillState = "未出合同";
      this.ruleForm.carriageBanlanceMode = "";
      this.ruleForm.carriageMode = "";
      this.ruleForm.carryGoodsBillDeposit = 0;
      this.ruleForm.carryGoodsInsurance = 0;
      this.ruleForm.dealGoodsStation = "";
      this.ruleForm.dispatchServiceFee = "";
      this.ruleForm.driverId = "";
      this.ruleForm.ifBalance = "未结算";
      this.ruleForm.insurance = 0;
      this.ruleForm.linkmanPhone = "";
      this.ruleForm.loadStation = "";
      this.ruleForm.receiveGoodsDetailAddr = "";
      this.ruleForm.receiveGoodsLinkman = "";
      this.ruleForm.remark = "";
      this.ruleForm.signTime = "";
      this.ruleForm.startAdvance = 0;
      this.ruleForm.startCarryTime = "";
    },

    submitForm(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          alert("submit!");
        } else {
          console.log("error submit!!");
          return false;
        }
      });
    },
    //重置
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectLeftCodes();
    this.findAllRegions();
    billApi.selectAllId().then((resp) => {
        console.log(resp);
        this.options = resp;
      });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>