<template>
  <div>
    <el-form :inline="true" :model="formInline" class="demo-form-inline">
      <el-form-item label="原始密码">
        <el-input
          v-model="formInline.oldPassword"
          placeholder="请输入原始密码"
        ></el-input>
      </el-form-item>
      <el-form-item label="新密码">
        <el-input
          v-model="formInline.newPassword"
          placeholder="请输入新密码"
        ></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="changePass">确认</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import * as billApi from "@/api/systemControl/userGroupManage";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      formInline: {
        loginId: "",
        oldPassword: "",
        newPassword: "",
      },
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    changePass() {
      billApi
        .change(
          this.$store.getters.user.loginId,
          this.formInline.oldPassword,
          this.formInline.newPassword
        )
        .then((resp) => {
          console.log(resp);
          if (resp.code === 1) {
            this.$store.commit("deleteUser", null);
            console.log(this.$store.getters.user);
            this.$router.push({
              path: "/login",
            });
          }
          api.toast_succ(resp.msg)
        });
    },
    onSubmit() {
      console.log("submit!");
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>