<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="添加用户组" name="first">
        <el-form ref="form" :model="form" label-width="80px">
          <el-row>
            <el-col :span="6">
              <el-form-item label="用户组名">
                <el-input
                  v-model="form.groupName"
                  placeholder="请输入用户组名"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-col :span="12">
            <el-form-item label="组描述">
              <el-input
                type="textarea"
                v-model="form.description"
                placeholder="请输入组描述"
                :rows="4"
              ></el-input>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="addGroup">立即创建</el-button>
              <el-button>取消</el-button>
            </el-form-item>
          </el-col>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="用户组查询" name="second">
        <el-table :data="tableData" border style="width: 100%">
          <el-table-column fixed prop="id" label="ID" width="150">
          </el-table-column>
          <el-table-column prop="groupName" label="用户组名" width="120">
          </el-table-column>
          <el-table-column prop="description" label="用户组描述">
          </el-table-column>
          <el-table-column fixed="right" label="操作" width="200">
            <template slot-scope="scope">
              <el-button
                @click="editView(scope.row)"
                type="button"
                size="small"
                class="el-button el-button--primary"
                >修改</el-button
              >
              <el-button
                @click="deleteView(scope.row)"
                type="button"
                size="small"
                class="el-button el-button--danger"
                >删除</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <div class="image-page">
          <el-row :gutter="20">
            <el-col :span="8" :offset="8">
              <div class="navigation-bar" style="padding-top: 40px">
                <!-- 分页部分 -->
                <el-pagination
                  background
                  layout="total, prev, pager, next, jumper"
                  :hide-on-single-page="false"
                  :page-size="pageformData.size"
                  :current-page="pageformData.currentPage"
                  :total="pageformData.total"
                  @prev-click="prevPage"
                  @next-click="nextPage"
                  @current-change="currentPageChange"
                >
                </el-pagination>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>

      <el-tab-pane label="用户组功能管理" name="third">
        <el-form ref="form" :model="checkForm" label-width="80px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="用户组">
                <el-select
                  v-model="checkForm.groupId"
                  placeholder="请选择用户组"
                  @change="changOP"
                >
                  <el-option
                    v-for="item in options"
                    :key="item.id"
                    :label="item.groupName"
                    :value="item.id"
                  >
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-col :span="12">
            <el-form-item label="功能选项">
              <el-checkbox-group v-model="checkForm.array">
                <el-checkbox
                  v-for="items in optionsChecked"
                  :key="items.id"
                  :label="items.id"
                >
                  {{ items.pageName }}
                </el-checkbox>
              </el-checkbox-group>
            </el-form-item>
            <el-form-item>
              <el-button type="primary" @click="addNewFunc">确认</el-button>
            </el-form-item>
          </el-col>
        </el-form>
      </el-tab-pane>
    </el-tabs>

    <el-dialog title="提示" :visible.sync="dialogVisible" width="70%">
      <span>
        <el-form ref="form" :model="form" label-width="80px">
          <el-row>
            <el-col :span="12">
              <el-form-item label="用户组名">
                <el-input
                  v-model="form.groupName"
                  placeholder="请输入用户组名"
                ></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-col :span="12">
            <el-form-item label="组描述">
              <el-input
                type="textarea"
                v-model="form.description"
                placeholder="请输入组描述"
                :rows="4"
              ></el-input>
            </el-form-item>
          </el-col>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="doUpdate" v-if="!isDelete"
          >确 定</el-button
        >
        <el-button type="primary" @click="doDelete" v-if="isDelete"
          >删 除</el-button
        >
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as billApi from "@/api/systemControl/userGroupManage";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      checked: true,
      isDelete: false,
      groupId: "",
      dialogVisible: false,
      optionsChecked: [],
      options: [],
      tableName: "first",
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      form: {
        groupName: "",
        description: "",
      },
      checkForm: {
        groupId: "",
        array: [],
      },
      edit_view: false,
      activeName: "first",
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    //提交
    addNewFunc() {
      billApi.addNewFunc(this.checkForm).then((resp) => {
        console.log(resp);
        api.toast_succ(resp.msg)
      });
    },
    //提交功能选项
    changOP(item) {
      billApi.selectFunctionByGroup(item).then((resp) => {
        this.checkForm.array = [];
        for (var i = 0; i < resp.length; i++) {
          this.checkForm.array.push(resp[i].functionId);
        }
        console.log(resp);
      });
    },
    //查询所有用户组供添加职工使用
    selectAllUserGroup() {
      billApi.selectAllUserGroup().then((resp) => {
        console.log(resp);
        this.options = resp;
      });
    },
    //获取所有用户组功能
    selectAllFunction() {
      billApi.selectAllFunction().then((resp) => {
        console.log(resp);
        this.optionsChecked = resp;
      });
    },

    //添加用户组
    addGroup() {
      billApi.addGroup(this.form).then((resp) => {
        console.log(resp);
        this.ininForm();
        api.toast_succ(resp.msg)
      });
    },

    //执行删除
    doDelete() {
      billApi.deleteGroup(this.groupId).then((resp) => {
        console.log(resp);
        this.dialogVisible = false;
        this.ininForm();
        this.selectAllGroup();
        api.toast_succ(resp.msg)
      });
    },

    //执行修改
    doUpdate() {
      billApi
        .updateDescription(this.groupId, this.form.description)
        .then((resp) => {
          console.log(resp);
          this.dialogVisible = false;
          this.ininForm();
          this.selectAllGroup(1);
          api.toast_succ(resp.msg)
        });
    },

    //删除
    deleteView(item) {
      this.isDelete = true;
      this.dialogVisible = true;
      this.groupId = item.id;
      billApi.selectGroup(item.id).then((resp) => {
        console.log(resp);
        this.form = resp.data;
        api.toast_succ(resp.msg)
      });
    },
    //修改
    editView(item) {
      this.isDelete = false;
      this.dialogVisible = true;
      this.groupId = item.id;
      billApi.selectGroup(item.id).then((resp) => {
        console.log(resp);
        this.form = resp.data;
        api.toast_succ(resp.msg)
      });
    },

    ininForm() {
      this.form.groupName = "";
      this.form.description = "";
    },

    onSubmit() {},
    //下一页
    nextPage() {
      this.selectAllGroup(this.pageformData.currentPage + 1);
    },
    //上一页
    prevPage() {
      this.selectAllGroup(this.pageformData.currentPage - 1);
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      this.selectAllGroup(page);
    },
    // 查询所有用户组
    selectAllGroup(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .selectAllGroup(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    handleClick(tab, event) {
      this.tableName = tab.name;
      if (tab.name === "second") {
        this.selectAllGroup(1);
      } else if (tab.name === "first") {
        this.ininForm();
      } else {
        this.selectAllFunction();
        this.selectAllUserGroup();
      }
      console.log("点了一下下");
    },
    handleClose(done) {
      this.$confirm("确认关闭？")
        .then((_) => {
          done();
        })
        .catch((_) => {});
    },
    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd hh:mm:ss");
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectAllUserGroup();
    this.selectAllGroup();
    this.ininForm();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>