//登陆页面
<template>
  <div id="app">
    <vue-particles
      class="vue-particles"
      color="#93d5dc"
      :particleOpacity="0.7"
      :particlesNumber="80"
      shapeType="star"
      :particleSize="4"
      linesColor="#93d5dc"
      :linesWidth="1"
      :lineLinked="true"
      :lineOpacity="0.4"
      :linesDistance="150"
      :moveSpeed="3"
      :hoverEffect="true"
      hoverMode="grab"
      :clickEffect="true"
      clickMode="push"
    >
    </vue-particles>
    <div class="admin-login-box">
      <!-- 后台的登陆入口，只有登陆，没有注册和找回密码 -->
      <!-- 只有门户的登陆，如果是管理员则跳转到管理中心，否则跳转到首页或者重定向的页面 -->
      <!-- 如果是门户的，则有登陆注册找回密码等功能 -->
      <!-- 顶部内容 -->
      <div class="admin-login-header-box">
        <div class="admin-login-header-center center">
          <div class="admin-login-logo">欢迎登陆物流管理系统</div>
        </div>
      </div>
      <!-- 中间内容 -->
      <div class="admin-login-center-box">
        <div class="center login-center-box">
          <el-row :gutter="1" style="margin: 20px auto">
            <el-col :span="15">
              <el-form :label-position="labelPosition" label-width="80px">
                <el-form-item label="账号" required>
                  <el-input
                    v-model="user.userName"
                    placeholder="用户名"
                  ></el-input>
                </el-form-item>
                <el-form-item label="密码" required>
                  <el-input
                    v-model="user.password"
                    placeholder="密码"
                    type="password"
                  ></el-input>
                </el-form-item>
                <el-form-item>
                  <el-button type="success" round @click="dologin()">
                    登陆
                  </el-button>
                </el-form-item>
              </el-form>
            </el-col>
          </el-row>
        </div>
      </div>
      <!-- 底部内容 -->
    </div>
  </div>
</template>

<script>
import { dologin } from "@/api/axios";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      labelPosition: "right",
      user: {
        userName: "",
        password: "",
      },
      captchaPath: "",
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    //失败消息提示
    toast_err(msg) {
      this.$message({
        message: msg,
        type: "warning",
      });
    },
    //成功消息提示
    toast_succ(msg) {
      this.$message({
        message: msg,
        type: "success",
      });
    },
    //登陆
    dologin() {
      //登陆成功后获取权限列表
      //发起登陆
      //TODO 检查数据
      if (this.user.userName === "") {
        this.toast_err("用户名不能为空！");
        return;
      }
      if (this.user.password === "") {
        this.toast_err("密码不能为空！");
        return;
      }
      dologin(this.user.userName, this.user.password)
        .then((resp) => {
          //处理登录结果
          //判断状态
          if (resp.code == 1) {
            // console.log(resp.data == null);
            if (resp.data == null) {
              this.toast_succ("登陆失败");
              return;
            }
            this.toast_succ("登陆成功");
            this.$store.commit("setUser", resp.data);
            // console.log(resp)
            this.$cookies.set("loginId", resp.data);
            console.log(this.$cookies.get("loginId"));
            // console.log(this.$store.getters.user);
            //如果是成功
            this.$router.push({
              path: "/index",
            });
          } else {
            this.toast_err(resp.message);
            //其他，给出提示
            console.log(resp);
            this.updateVerifyCode();
          }
        })
        .catch((err) => {
          console.log(err);
        });
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>
<style scoped>
/*  css布局  */
.vue-particles {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-image: linear-gradient(-180deg, #1a1454 0%, #0e81a5 100%); */
  /* background-image: url("../../images/bg.gif"); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
.captcha-code {
  cursor: pointer;
  width: 200px;
}
.admin-login-header-box {
  width: 100%;
  height: 46px;
  background: dodgerblue;
  margin-bottom: 20px;
}
.center {
  margin: 0 auto;
  width: 1140px;
}
.admin-login-header-center {
  line-height: 46px;
}
.admin-login-logo {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}
.login-center-box {
  margin-top: 140px;
  padding: 20px;
  border-radius: 5px;
  width: 500px;
  height: 250px;
  background: rgb(248, 245, 245);
  box-shadow: 0 1px 10px #afafaf;
}
</style>