<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="新单填写" name="first">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="科目名称">
            <el-input
              v-model="form.subjectName"
              placeholder="请输入科目名称"
            ></el-input>
          </el-form-item>
          <el-form-item label="结算金额">
            <el-input
              v-model="form.balanceMoney"
              placeholder="请输入结算金额"
            ></el-input>
          </el-form-item>
          <el-form-item label="备注">
            <el-input v-model="form.remark" placeholder="请输入备注"></el-input>
          </el-form-item>
          <el-form-item label="结算日期">
            <el-date-picker
              placeholder="选择时间"
              type="date"
              v-model="form.balanceDate"
              style="width: 100%"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="结算类型">
            <el-input
              v-model="form.balanceType"
              placeholder="请输入结算类型"
            ></el-input>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="addExtraFee">立即提交</el-button>
            <el-button @click="initForm">重置</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="结算历史" name="second">
        <el-table
          :data="tableData"
          border
          style="width: 100%"
          :default-sort="{ prop: 'bill_id', order: 'descending' }"
        >
          <el-table-column type="index" label="ID" width="150" sortable>
          </el-table-column>
          <el-table-column prop="id" label="杂费结算ID" width="120" sortable>
          </el-table-column>
          <el-table-column prop="subjectName" label="科目名称" width="120">
          </el-table-column>
          <el-table-column prop="remark" label="备注" width="120">
          </el-table-column>
          <el-table-column prop="balanceType" label="结算类型" width="120">
          </el-table-column>
          <el-table-column label="结算时间" width="120">
            <template slot-scope="scope">
              <span v-text="formatDate(scope.row.balanceDate)"></span>
            </template>
          </el-table-column>
          <el-table-column prop="balanceMoney" label="结算金额">
          </el-table-column>
        </el-table>
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
        <div class="image-page">
          <el-row :gutter="20">
            <el-col :span="8" :offset="8">
              <div class="navigation-bar" style="padding-top: 40px">
                <!-- 分页部分 -->
                <el-pagination
                  background
                  layout="total, prev, pager, next, jumper"
                  :hide-on-single-page="false"
                  :page-size="pageformData.size"
                  :current-page="pageformData.currentPage"
                  :total="pageformData.total"
                  @prev-click="prevPage"
                  @next-click="nextPage"
                  @current-change="currentPageChange"
                >
                </el-pagination>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as extraFeeApi from "@/api/clearControl/extraFee";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      form: {
        subjectName: "",
        balanceMoney: "",
        remark: "",
        balanceDate: "",
        balanceType: "",
      },
      activeName: "first",
      tableData: [],
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = ['杂费结算ID', '科目名称', '备注','结算类型','结算时间','结算金额']; // 导出的表头名信息
        const filterVal = ['id', 'subjectName', 'remark','balanceType','balanceDate','balanceMoney']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '其他结算历史');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd");
    },
    //初始化

    initForm() {
      this.form.subjectName = "";
      this.form.balanceMoney = "";
      this.form.remark = "";
      this.form.balanceDate = "";
      this.form.balanceType = "";
    },

    //提交杂费
    addExtraFee() {
      extraFeeApi.addExtraClear(this.form).then((resp) => {
        console.log(resp);
        if (resp.code === 1) {
          api.toast_succ(resp.msg);
          this.initForm();
        } else {
          api.toast_err(resp.msg);
        }
        api.toast_succ(resp.msg)
      });
    },

    //代收结算-返回未结的所有实体(实体中能填的属性都填好)
    selectAllExtraClear(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      extraFeeApi
        .selectAllExtraClear(
          this.pageformData.currentPage,
          this.pageformData.size
        )
        .then((resp) => {
          console.log(resp);
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
          api.toast_succ(resp.msg)
        });
    },
    //下一页
    nextPage() {
      this.selectAllExtraClear(this.pageformData.currentPage + 1);
    },
    //上一页
    prevPage() {
      this.selectAllExtraClear(this.pageformData.currentPage - 1);
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      this.selectAllExtraClear(page);
    },
    about(row) {
      console.log(row);
    },
    handleClick(tab, event) {
      console.log(tab, event);
      if (tab.name === "first") {
      } else {
        this.selectAllExtraClear();
      }
    },
    onSubmit() {
      console.log("submit!");
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>