<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="新结运单" name="first">
        <el-table :data="tableData" border style="width: 100%">
          <el-table-column type="index" label="ID" width="150">
          </el-table-column>
          <el-table-column prop="goodsBillCode" label="货运单编号" width="120">
          </el-table-column>
          <el-table-column prop="customerCode" label="客户编号" width="120">
          </el-table-column>
          <el-table-column prop="balanceType" label="结算类型">
          </el-table-column>
          <el-table-column fixed="right" label="操作" width="180">
            <template slot-scope="scope">
              <el-button @click="about(scope.row)" type="warning" size="small"
                >查看</el-button
              >
              <el-button type="primary" size="small" @click="doCount(scope.row)"
                >结算</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="结算历史" name="second">
        <el-table :data="tableData" border style="width: 100%">
          <el-table-column type="index" label="ID" width="150">
          </el-table-column>
          <el-table-column prop="goodsBillCode" label="货运单编号" width="120">
          </el-table-column>
          <el-table-column prop="customerCode" label="客户编号" width="120">
          </el-table-column>
          <el-table-column prop="balanceType" label="结算类型">
          </el-table-column>
          <el-table-column fixed="right" label="操作" width="100">
            <template slot-scope="scope">
              <el-button @click="about(scope.row)" type="warning" size="small"
                >查看
              </el-button>
            </template>
          </el-table-column>
        </el-table>
        
      <el-button type="primary" @click="downloadExcel" >导出</el-button>
      </el-tab-pane>
      <el-row :gutter="20">
        <el-col :span="8" :offset="8">
          <div class="navigation-bar" style="padding-top: 40px">
            <!-- 分页部分 -->
            <el-pagination
              background
              layout="total, prev, pager, next, jumper"
              :hide-on-single-page="false"
              :page-size="pageformData.size"
              :current-page="pageformData.currentPage"
              :total="pageformData.total"
            >
            </el-pagination>
          </div>
        </el-col>
      </el-row>
    </el-tabs>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="30%">
      <span>
        <el-form ref="dataForm" :model="dataForm" label-width="80px">
          <el-form-item label="客户编号">
            <el-input
              v-model="dataForm.customerCode"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="货运单编号">
            <el-input
              v-model="dataForm.goodsBillCode"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="本单金额">
            <el-input
              v-model="dataForm.billMoney"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="应收金额">
            <el-input
              v-model="dataForm.moneyReceivable"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="已收金额">
            <el-input
              v-model="dataForm.receivedMoney"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="预付金额">
            <el-input
              v-model="dataForm.prepayMoney"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="运费减款">
            <el-input
              v-model="dataForm.carriageReduceFund"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="余额">
            <el-input v-model="dataForm.balance" :disabled="ifEdit"></el-input>
          </el-form-item>
          <el-form-item label="结算时间">
            <!-- <el-input
              v-model="dataForm.balanceTime"
              :disabled="ifEdit"
            ></el-input> -->

            <el-date-picker
              disabled
              v-model="dataForm.balanceTime"
              type="date"
              placeholder="选择日期"
              :default-value="dataForm.balanceTime"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="保险费">
            <el-input
              v-model="dataForm.insurance"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="付回扣">
            <el-input
              v-model="dataForm.payKickback"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="送货费">
            <el-input
              v-model="dataForm.carryGoodsFee"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="结算类型">
            <el-input
              v-model="dataForm.balanceType"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="addCusClear">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as goodBillApi from "@/api/clearControl/goodsBillManage";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      ifEdit: true,
      dialogVisible: false,
      activeName: "first",
      tableData: [],
      eventName: "未结订单",
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      dataForm: {},
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = [ '货运单编号', '客户编号','结算类型']; // 导出的表头名信息
        const filterVal = ['goodsBillCode', 'customerCode','balanceType']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '货运单结算历史');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //执行结算
    addCusClear() {
      goodBillApi.addCusClear(this.dataForm).then((resp) => {
        console.log(resp);
        if (resp === 1) {
          api.toast_succ(resp.msg);
        } else {
          api.toast_err(resp.msg);
        }
        this.inifForm();
        this.dialogVisible = false;
        api.toast_succ(resp.msg)
      });
    },

    //结算这一行数据,打开模态框
    doCount(item) {
      this.ifEdit = false;
      this.inifForm();
      this.dialogVisible = true;
      goodBillApi.selectByCode(item.goodsBillCode).then((resp) => {
        this.dataForm = resp;
        if (!this.dataForm.balanceTime) {
          this.dataForm.balanceTime = new Date();
        }
      });
    },

    //初始化
    inifForm() {
      this.dataForm = {};
    },

    //获取这一行数据并且打开模态框
    about(item) {
      this.ifEdit = true;
      this.inifForm();
      this.dialogVisible = true;
      goodBillApi.selectByCode(item.goodsBillCode).then((resp) => {
        this.dataForm = resp;
        if (!this.dataForm.balanceTime) {
          this.dataForm.balanceTime = new Date();
        }
      });
    },
    //获取数据
    selectClearCus() {
      this.tableData = [];
      goodBillApi.selectClearCus(this.eventName).then((resp) => {
        this.tableData = resp.data;
        this.pageformData.total = resp.count;
        this.pageformData.size = resp.count;
      });
    },
    handleClick(row) {
      console.log(row.name);
      if (row.name === "first") {
        this.eventName = "未结运单";
      } else {
        this.eventName = "已结运单";
      }
      this.selectClearCus();
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectClearCus();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>