<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="代收结算" name="first">
        <el-table :data="tableData" border style="width: 100%">
          <el-table-column type="index" label="ID" width="150">
          </el-table-column>
          <el-table-column prop="goodsBillCode" label="货运单编号" width="120">
          </el-table-column>
          <el-table-column prop="customerCode" label="客户编号" width="120">
          </el-table-column>
          <el-table-column prop="accountReceivable" label="应收款项">
          </el-table-column>
          <el-table-column prop="factReceiveFund" label="实收款项">
          </el-table-column>
          <el-table-column fixed="right" label="操作" width="180">
            <template slot-scope="scope">
              <el-button @click="about(scope.row)" type="warning" size="small"
                >查看</el-button
              >
              <el-button type="primary" size="small" @click="editView(scope.row)"
                >编辑</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="代收历史" name="second">
        <el-table :data="tableData" border style="width: 100%">
          <el-table-column type="index" label="ID" width="150">
          </el-table-column>
          <el-table-column prop="goodsBillCode" label="货运单编号" width="120">
          </el-table-column>
          <el-table-column prop="customerCode" label="客户编号" width="120">
          </el-table-column>
          <el-table-column prop="accountReceivable" label="应收款项">
          </el-table-column>
          <el-table-column prop="factReceiveFund" label="实收款项">
          </el-table-column>
          <el-table-column fixed="right" label="操作" width="100">
            <template slot-scope="scope">
              <el-button @click="about(scope.row)" type="warning" size="small"
                >查看</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <el-row :gutter="20">
        <el-col :span="8" :offset="8">
          <div class="navigation-bar" style="padding-top: 40px">
            <!-- 分页部分 -->
            <el-pagination
              background
              layout="total, prev, pager, next, jumper"
              :hide-on-single-page="false"
              :page-size="pageformData.size"
              :current-page="pageformData.currentPage"
              :total="pageformData.total"
            >
            </el-pagination>
          </div>
        </el-col>
      </el-row>
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
      </el-tab-pane>
    </el-tabs>
    <el-dialog title="提示" :visible.sync="dialogVisible" width="70%">
      <span>
        <el-form
          :model="ruleForm"
          ref="ruleForm"
          label-width="180px"
          class="demo-ruleForm"
        >
          <el-form-item label="客户编号" prop="region">
            <el-input
              v-model="ruleForm.customerCode"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="货运单编号" prop="region">
            <el-input
              v-model="ruleForm.goodsBillCode"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="回执单编号" prop="region">
            <el-input
              v-model="ruleForm.backBillCode"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="应收货款" prop="region">
            <el-input
              v-model="ruleForm.accountReceivable"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="实收货款" prop="region">
            <el-input
              v-model="ruleForm.factReceiveFund"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="货款变更" prop="region">
            <el-input
              v-model="ruleForm.goodsPayChange"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="佣金率" prop="region">
            <el-input
              v-model="ruleForm.commisionRate"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="应收佣金" prop="region">
            <el-input
              v-model="ruleForm.commisionReceivable"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="已收佣金" prop="region">
            <el-input
              v-model="ruleForm.receivedCommision"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="结算时间" prop="region">
            <el-date-picker
              v-model="ruleForm.balanceDate"
              type="date"
              :disabled="ifEdit"
              placeholder="选择日期"
              default-value="ruleForm.balanceDate"
            >
            </el-date-picker>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer" v-if="!ifEdit">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="doEdit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as transpApi from "@/api/clearControl/proxyFee";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      ifEdit: false,
      activeName: "first",
      tableData: [],
      dialogVisible: false,
      ruleForm: {
        accountReceivable: "",
        balanceDate: "",
        commisionRate: 0,
        commisionReceivable: "",
        customerCode: "",
        factReceiveFund: 0,
        goodsBillCode: "",
        goodsPayChange: 0,
        receivedCommision: "",
      },
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = ['货运单编号', '客户编号','应收款项','实收款项']; // 导出的表头名信息
        const filterVal = ['goodsBillCode', 'customerCode','accountReceivable','factReceiveFund']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '代收历史');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //提交编辑
    doEdit() {
      transpApi.addCHelpClear(this.ruleForm).then((resp) => {
        console.log(resp);
        this.dialogVisible = false;
        if (resp.code === 1) {
          api.toast_succ(resp.msg);
        } else {
          api.toast_err(resp.msg);
        }
      });
    },

    //查看详情
    about(item) {
      this.ifEdit = true;
      this.ruleForm = {};
      this.dialogVisible = true;
      transpApi.selectHelpBillClearByCode(item.goodsBillCode).then((resp) => {
        console.log(resp);
        this.ruleForm = resp;
      });
    },
    //编辑详情
    editView(item) {
      this.ifEdit = false;
      this.ruleForm = {};
      this.dialogVisible = true;
      transpApi.selectHelpBillClearByCode(item.goodsBillCode).then((resp) => {
        console.log(resp);
        this.ruleForm = resp;
        this.ruleForm.balanceDate = new Date();
        api.toast_succ(resp.msg)
      });
    },
    //获取订单
    selectClearHelp(item) {
      this.tableData = [];
      transpApi.selectClearHelp(item).then((resp) => {
        this.tableData = resp.data;
      });
    },
    handleClick(tab, event) {
      console.log(tab.name);
      if (tab.name === "first") {
        this.selectClearHelp("未结代收");
      } else {
        this.selectClearHelp("已结代收");
      }
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectClearHelp("未接合同");
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>