<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="新结运费" name="first">
        <el-table :data="tableData" border style="width: 100%">
          <el-table-column type="index" label="ID" width="150">
          </el-table-column>
          <el-table-column prop="backBillCode" label="回执单编号" width="120">
          </el-table-column>
          <el-table-column prop="driverCode" label="司机编号" width="120">
          </el-table-column>
          <el-table-column prop="balanceType" label="结算类型">
          </el-table-column>
          <el-table-column fixed="right" label="操作" width="180">
            <template slot-scope="scope">
              <el-button @click="about(scope.row)" type="warning" size="small"
                >查看</el-button
              >
              <el-button type="primary" size="small" @click="editView(scope.row)"
                >编辑</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="结算历史" name="second">
        <el-table :data="tableData" border style="width: 100%">
          <el-table-column type="index" label="ID" width="150">
          </el-table-column>
          <el-table-column prop="backBillCode" label="回执单编号" width="120">
          </el-table-column>
          <el-table-column prop="driverCode" label="司机编号" width="120">
          </el-table-column>
          <el-table-column prop="balanceType" label="结算类型">
          </el-table-column>
          <el-table-column fixed="right" label="操作" width="100">
            <template slot-scope="scope">
              <el-button type="warning" size="small" @click="about(scope.row)"
                >查看</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
      </el-tab-pane>
      <el-row :gutter="20">
        <el-col :span="8" :offset="8">
          <div class="navigation-bar" style="padding-top: 40px">
            <!-- 分页部分 -->
            <el-pagination
              background
              layout="total, prev, pager, next, jumper"
              :hide-on-single-page="false"
              :page-size="pageformData.size"
              :current-page="pageformData.currentPage"
              :total="pageformData.total"
            >
            </el-pagination>
          </div>
        </el-col>
        </el-row>
    </el-tabs>

    <el-dialog title="提示" :visible.sync="dialogVisible" width="70%">
      <span>
        <el-form
          :model="ruleForm"
          ref="ruleForm"
          label-width="180px"
          class="demo-ruleForm"
        >
          <el-form-item label="司机编号" prop="region">
            <el-input
              v-model="ruleForm.driverCode"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="结算类型" prop="region">
            <el-input
              v-model="ruleForm.balanceType"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="回执单编号" prop="region">
            <el-input
              v-model="ruleForm.backBillCode"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="应付金额" prop="region">
            <el-input
              v-model="ruleForm.needPayment"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="承运费" prop="region">
            <el-input v-model="ruleForm.carryFee" :disabled="ifEdit"></el-input>
          </el-form-item>
          <el-form-item label="预付金额" prop="region">
            <el-input
              v-model="ruleForm.prepayMoney"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="订装保证金" prop="region">
            <el-input
              v-model="ruleForm.bindInsurance"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="加运费" prop="region">
            <el-input
              v-model="ruleForm.addCarriage"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="已付金额" prop="region">
            <el-input
              v-model="ruleForm.payedMoney"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="余额" prop="region">
            <el-input v-model="ruleForm.balance" :disabled="ifEdit"></el-input>
          </el-form-item>
          <!-- <el-form-item label="结算时间" prop="region">
            <el-input
              v-model="ruleForm.balanceTime"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item> -->
          <el-form-item label="结算时间">
            <el-date-picker
              disabled
              v-model="ruleForm.balanceTime"
              type="date"
              placeholder="选择日期"
              :default-value="ruleForm.balanceTime"
            >
            </el-date-picker>
          </el-form-item>
          <el-form-item label="配载服务费" prop="region">
            <el-input
              v-model="ruleForm.dispatchServiceFee"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="保险费" prop="region">
            <el-input
              v-model="ruleForm.insurance"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer" v-if="!ifEdit">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="doEdit">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as transpApi from "@/api/clearControl/transportManage";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      ifEdit: false,
      activeName: "first",
      tableData: [],
      dialogVisible: false,
      ruleForm: {
        addCarriage: 0,
        backBillCode: "",
        balance: 0,
        balanceTime: "",
        balanceType: "",
        bindInsurance: 0,
        carryFee: 0,
        dispatchServiceFee: 0,
        driverCode: "",
        insurance: 0,
        needPayment: 0,
        payedMoney: 0,
        prepayMoney: 0,
      },
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = [ '回执单编号', '司机编号','结算类型']; // 导出的表头名信息
        const filterVal = ['backBillCode', 'driverCode','balanceType']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '运输合同结算历史');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //确定提交
    doEdit() {
      transpApi.addDriClear(this.ruleForm).then((resp) => {
        console.log(resp);
        this.ruleForm = {};
        this.dialogVisible = false;
        if (resp.code === 1) {
          api.toast_succ(resp.msg);
        } else {
          api.toast_err(resp.msg);
        }
        api.toast_succ(resp.msg)
      });
    },

    //打开查看页面.
    about(item) {
      this.ifEdit = true;
      this.ruleForm = {};
      this.dialogVisible = true;
      transpApi.selectDriverClearByCode(item.backBillCode).then((resp) => {
        this.ruleForm = resp;
      });
    },

    //打开编辑页面
    editView(item) {
      this.ifEdit = false;
      this.ruleForm = {};
      this.dialogVisible = true;
      transpApi.selectDriverClearByCode(item.backBillCode).then((resp) => {
        this.ruleForm = resp;
      });
    },
    //获取订单
    selectClearDriver(item) {
      this.tableData = [];
      transpApi.selectClearDriver(item).then((resp) => {
        this.tableData = resp.data;
        console.log(resp.count);
        this.pageformData.total = resp.count;
      });
    },
    handleClick(tab, event) {
      console.log(tab.name);
      if (tab.name === "first") {
        this.selectClearDriver("未接合同");
      } else {
        this.selectClearDriver("已结合同");
      }
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectClearDriver();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>