<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="员工工资" name="first">
        <el-table
          :data="tableData"
          border
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column type="index" label="ID" width="80" sortable>
          </el-table-column>
          <el-table-column
            prop="employeeCode"
            label="员工编号"
            width="150"
            sortable
          >
          </el-table-column>
          <el-table-column prop="employeeName" label="职工姓名" width="150">
          </el-table-column>
          <el-table-column prop="department" label="部门" width="150">
          </el-table-column>
          <el-table-column prop="position" label="职位"> </el-table-column>
          <el-table-column fixed="right" label="操作" width="250">
            <template slot-scope="scope">
              <el-button
                @click="editShowEmpView(scope.row)"
                type="primary"
                size="small"
                >录入</el-button
              >
              <el-button
                type="warning"
                size="small"
                @click="aboutShowEmpView(scope.row)"
                >查看详情</el-button
              >
            </template>
          </el-table-column>
        </el-table>
      </el-tab-pane>
      <el-tab-pane label="财务费用" name="second">
        <el-table
          :data="tableData"
          border
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column prop="id" label="财务费用ID" width="250" sortable>
          </el-table-column>
          <el-table-column prop="fee" label="财务费用" width="250">
          </el-table-column>
          <el-table-column prop="payoutMonth" label="支出月份" width="250">
            <template slot-scope="scope">
              <span v-text="formatDate(scope.row.payoutMonth)"></span>
            </template>
          </el-table-column>
          <el-table-column prop="writeDate" label="填写日期">
            <template slot-scope="scope">
              <span v-text="formatDate(scope.row.writeDate)"></span>
            </template>
          </el-table-column>
        </el-table>

        <el-button type="success" @click="showFinanceFeeView"
          >添加财务费用</el-button
        >
      </el-tab-pane>
      <el-tab-pane label="管理费用" name="third">
        <el-table
          :data="tableData"
          border
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column prop="id" label="管理费用ID" width="120" sortable>
          </el-table-column>
          <el-table-column prop="officeFee" label="办公费" width="120">
          </el-table-column>
          <el-table-column prop="houseRent" label="房租费" width="120">
          </el-table-column>
          <el-table-column prop="waterElecFee" label="水电费" width="120">
          </el-table-column>

          <el-table-column prop="writeDate" label="填写日期"> </el-table-column>
          <el-table-column fixed="right" label="操作" width="250">
            <template slot-scope="scope">
              <el-button
                @click="aboutFinance(scope.row)"
                type="warning"
                size="small"
                >查看详情</el-button
              >
            </template>
          </el-table-column>
        </el-table>

        <el-button type="success" size="small" @click="addFinanceFee"
          >添加管理费用</el-button
        >
      </el-tab-pane>
    </el-tabs>

    <el-dialog
      title="录入管理费用"
      :visible.sync="addFinanceFeeView"
      width="30%"
    >
      <span>
        <el-form
          :model="addFinanceFeeForm"
          ref="ruleForm"
          label-width="180px"
          class="demo-ruleForm"
        >
          <el-form-item label="办公费" prop="region">
            <el-input
              v-model="addFinanceFeeForm.officeFee"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="房租费" prop="region">
            <el-input
              v-model="addFinanceFeeForm.houseRent"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="水电费" prop="region">
            <el-input
              v-model="addFinanceFeeForm.waterElecFee"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="电话费" prop="region">
            <el-input
              v-model="addFinanceFeeForm.phoneFee"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="其他支出" prop="region">
            <el-input
              v-model="addFinanceFeeForm.otherPayout"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="支出月份" prop="region">
            <el-date-picker
              type="month"
              placeholder="选择日期"
              v-model="addFinanceFeeForm.payoutMonth"
              style="width: 100%"
              :disabled="ifEdit"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="填写日期" prop="region">
            <el-date-picker
              type="date"
              placeholder="选择日期"
              v-model="addFinanceFeeForm.writeDate"
              style="width: 100%"
              :disabled="ifEdit"
            ></el-date-picker>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer" v-if="!ifEdit">
        <el-button @click="addFinanceFeeView = false">取 消</el-button>
        <el-button type="primary" @click="doAddFinanceFeeForm">确 定</el-button>
      </span>
    </el-dialog>

    <el-dialog title="添加财务费用" :visible.sync="financeFeeView" width="30%">
      <span>
        <el-form
          :model="addFinanceFeeViewFrom"
          ref="addFinanceFeeView"
          label-width="180px"
          class="demo-ruleForm"
        >
          <el-form-item label="财务费用" prop="region">
            <el-input
              v-model="addFinanceFeeViewFrom.fee"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>

          <el-form-item label="支出月份" prop="region">
            <el-date-picker
              type="month"
              placeholder="选择日期"
              v-model="addFinanceFeeViewFrom.payoutMonth"
              style="width: 100%"
              :disabled="ifEdit"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="填写日期" prop="region">
            <el-date-picker
              type="date"
              placeholder="选择日期"
              v-model="addFinanceFeeViewFrom.writeDate"
              style="width: 100%"
              :disabled="ifEdit"
            ></el-date-picker>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer" v-if="!ifEdit">
        <el-button @click="financeFeeView = false">取 消</el-button>
        <el-button type="primary" @click="doAdd">确 定</el-button>
      </span>
    </el-dialog>

    <el-dialog title="员工工资" :visible.sync="showEmpView" width="30%">
      <span>
        <el-form
          :model="showEmpViewForm"
          ref="addFinanceFeeView"
          label-width="180px"
          class="demo-ruleForm"
        >
          <el-form-item label="职员编号" prop="employeeCode">
            <el-input
              v-model="showEmpViewForm.employeeCode"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="职员姓名" prop="employee">
            <el-input
              v-model="showEmpViewForm.employee"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="基本工资" prop="basicWage">
            <el-input
              v-model="showEmpViewForm.basicWage"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="岗位工资" prop="stationWage">
            <el-input
              v-model="showEmpViewForm.stationWage"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="津贴" prop="allowance">
            <el-input
              v-model="showEmpViewForm.allowance"
              :disabled="ifEdit"
            ></el-input>
          </el-form-item>
          <el-form-item label="日期" prop="date">
            <el-date-picker
              type="date"
              placeholder="选择日期"
              v-model="showEmpViewForm.date"
              style="width: 100%"
              :disabled="ifEdit"
            ></el-date-picker>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer" v-if="!ifEdit">
        <el-button @click="financeFeeView = false">取 消</el-button>
        <el-button type="primary" @click="doEditShowEmpView">确 定</el-button>
      </span>
    </el-dialog>

    <div class="image-page">
      <el-row :gutter="20">
        <el-col :span="8" :offset="8">
          <div class="navigation-bar" style="padding-top: 40px">
            <!-- 分页部分 -->
            <el-pagination
              background
              layout="total, prev, pager, next, jumper"
              :hide-on-single-page="false"
              :page-size="pageformData.size"
              :current-page="pageformData.currentPage"
              :total="pageformData.total"
              @prev-click="prevPage"
              @next-click="nextPage"
              @current-change="currentPageChange"
            >
            </el-pagination>
          </div>
        </el-col>
      </el-row>
    </div>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as billApi from "@/api/checkControl/extraIncome";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      showEmpView: false,
      financeFeeView: false,
      ifEdit: false,
      addFinanceFeeView: false,
      options: [],
      tableName: "first",
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      addFinanceFeeForm: {
        officeFee: "",
        houseRent: "",
        waterElecFee: "",
        phoneFee: "",
        otherPayout: "",
        payoutMonth: "",
        writeDate: "",
      },
      addFinanceFeeViewFrom: {
        fee: "",
        payoutMonth: "",
        writeDate: "",
      },
      showEmpViewForm: {
        employeeCode: "",
        employee: "",
        basicWage: 0,
        stationWage: 0,
        allowance: 0,
        date: "",
      },
      edit_view: false,
      activeName: "first",
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    //提交编辑
    doEditShowEmpView() {
      billApi.addWage(this.showEmpViewForm).then((resp) => {
        console.log(resp);
        if (resp.code === 1) {
          this.initAddFinanceFeeForm();
          this.selectAllEmp();
          this.showEmpView = false;
          api.toast_succ(resp.msg);
          // this.initForm();
        } else {
          api.toast_err(resp.msg);
        }
      });
    },
    //编辑打开录用页面
    editShowEmpView(item) {
      this.ifEdit = false;
      this.showEmpView = true;
    },
    //查看打开
    aboutShowEmpView(item) {
      let _this = this
      this.ifEdit = true;
      this.showEmpView = true;
      this.initAddFinanceFeeForm()
      console.log(item.employeeCode);
      billApi.findWage(item.employeeCode).then((resp) => {
        // console.log(resp.data,"111");
        // console.log(resp,"222");
        //TODO 查看员工工资没做
        // this.showEmpViewForm = resp.date;
        _this.showEmpViewForm.employeeCode = resp.employeeCode;
        _this.showEmpViewForm.employee = resp.employee;
        _this.showEmpViewForm.basicWage = resp.basicWage;
        _this.showEmpViewForm.stationWage = resp.stationWage;
        _this.showEmpViewForm.allowance = resp.allowance;
        _this.showEmpViewForm.writeDate = new Date()
        // console.log(this.showEmpViewForm);
      });
    },

    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd");
    },
    //执行添加财务费用
    doAdd() {
      console.log("I come in");
      billApi.addFinanceFee(this.addFinanceFeeViewFrom).then((resp) => {
        if (resp.code === 1) {
          this.initAddFinanceFeeForm();
          this.selectFinanceFee();
          this.financeFeeView = false;
          api.toast_succ(resp.msg);
          // this.initForm();
        } else {
          api.toast_err(resp.msg);
        }
        api.toast_succ(resp.msg)
      });
    },
    //添加财务费用
    showFinanceFeeView() {
      this.ifEdit = false;
      this.financeFeeView = true;
      this.initAddFinanceFeeForm();
      api.toast_succ(resp.msg)
    },

    //提交管理费用
    doAddFinanceFeeForm() {
      billApi.addManageFee(this.addFinanceFeeForm).then((resp) => {
        console.log(resp.msg);
        if (resp.code === 1) {
          this.initAddFinanceFeeForm();
          this.selectManageFee();
          this.addFinanceFeeView = false;
          api.toast_succ(resp.msg);
          // this.initForm();
        } else {
          api.toast_err(resp.msg);
        }
        api.toast_succ(resp.msg)
      });
    },

    //初始化管理费用
    initAddFinanceFeeForm() {
      this.addFinanceFeeForm.officeFee = "";
      this.addFinanceFeeForm.houseRent = "";
      this.addFinanceFeeForm.waterElecFee = "";
      this.addFinanceFeeForm.phoneFee = "";
      this.addFinanceFeeForm.otherPayout = "";
      this.addFinanceFeeForm.payoutMonth = "";
      this.addFinanceFeeForm.writeDate = "";
      this.addFinanceFeeViewFrom.fee = "";
      this.addFinanceFeeViewFrom.payoutMonth = "";
      this.addFinanceFeeViewFrom.writeDate = "";
      this.showEmpViewForm.employee = "";
      this.showEmpViewForm.employeeCode = "";
      this.showEmpViewForm.basicWage = 0;
      this.showEmpViewForm.stationWage = 0;
      this.showEmpViewForm.allowance = 0;
      this.showEmpViewForm.date = "";
    },
    //查找管理费用
    aboutFinance(item) {
      this.ifEdit = true;
      this.addFinanceFeeView = true;
      billApi.findManageFee(item.id).then((resp) => {
        this.addFinanceFeeForm = resp;
      });
    },
    // 录入管理费用
    addFinanceFee() {
      this.ifEdit = false;
      this.addFinanceFeeView = true;
      api.toast_succ(resp.msg)
    },
    //下一页
    nextPage() {
      switch (this.tableName) {
        case "first":
          this.selectAllEmp(this.pageformData.currentPage + 1);
          break;
        case "second":
          this.selectFinanceFee(this.pageformData.currentPage + 1);
          break;
        case "third":
          this.selectManageFee(this.pageformData.currentPage + 1);
          break;
      }
    },
    //上一页
    prevPage() {
      switch (this.tableName) {
        case "first":
          this.selectAllEmp(this.pageformData.currentPage - 1);
          break;
        case "second":
          this.selectFinanceFee(this.pageformData.currentPage - 1);
          break;
        case "third":
          this.selectManageFee(this.pageformData.currentPage - 1);
          break;
      }
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      switch (this.tableName) {
        case "first":
          this.selectAllEmp(this.pageformData.currentPage);
          break;
        case "second":
          this.selectFinanceFee(this.pageformData.currentPage);
          break;
        case "third":
          this.selectManageFee(this.pageformData.currentPage);
          break;
      }
    },
    // 查询员工工资
    selectAllEmp(currentPage) {
      this.form = [];
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .selectAllEmp(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          console.log(resp);
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    // 查询所有财务费用
    selectFinanceFee(currentPage) {
      this.form = [];
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .selectFinanceFee(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    //查询所有管理费用
    selectManageFee(currentPage) {
      this.form = [];
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .selectManageFee(this.pageformData.currentPage, this.pageformData.size)
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    handleClick(tab, event) {
      console.log(tab.name);
      this.tableName = tab.name;
      if (tab.name === "first") {
        this.selectAllEmp();
      } else if (tab.name === "second") {
        this.selectFinanceFee();
      } else {
        this.selectManageFee();
      }
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectAllEmp();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>