<template>
  <div>
    <el-tabs v-model="activeName" @tab-click="handleClick">
      <el-tab-pane label="填写营业外收入" name="first">
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="名称">
            <el-input v-model="form.name"></el-input>
          </el-form-item>
          <el-form-item label="金额">
            <el-input v-model="form.money"></el-input>
          </el-form-item>
          <el-form-item label="收入月份">
            <el-date-picker
              type="month"
              placeholder="选择日期"
              v-model="form.incomeMonth"
              style="width: 100%"
            ></el-date-picker>
          </el-form-item>
          <el-form-item label="填写日期">
            <el-date-picker
              type="date"
              placeholder="选择日期"
              v-model="form.writeDate"
              style="width: 100%"
            ></el-date-picker>
          </el-form-item>
          <el-form-item>
            <el-button type="primary" @click="onSubmit">提交</el-button>
            <el-button>取消</el-button>
          </el-form-item>
        </el-form>
      </el-tab-pane>
      <el-tab-pane label="查询营业外收入" name="second">
        <el-table
          :data="tableData"
          style="width: 100%"
          :default-sort="{ prop: 'date', order: 'descending' }"
        >
          <el-table-column prop="id" label="ID" width="180" sortable>
          </el-table-column>
          <el-table-column prop="id" label="营业外收入ID" width="180" sortable>
          </el-table-column>
          <el-table-column prop="name" label="名称"> </el-table-column>
          <el-table-column prop="money" label="金额"> </el-table-column>
          <el-table-column label="收入月份">
            <template slot-scope="scope">
              <span v-text="formatDate(scope.row.incomeMonth)"></span>
            </template>
          </el-table-column>
          <el-table-column prop="writeDate" label="填写日期"> </el-table-column>
        </el-table>
        <el-button type="primary" @click="downloadExcel" >导出</el-button>
        <div class="image-page">
          <el-row :gutter="20">
            <el-col :span="8" :offset="8">
              <div class="navigation-bar" style="padding-top: 40px">
                <!-- 分页部分 -->
                <el-pagination
                  background
                  layout="total, prev, pager, next, jumper"
                  :hide-on-single-page="false"
                  :page-size="pageformData.size"
                  :current-page="pageformData.currentPage"
                  :total="pageformData.total"
                  @prev-click="prevPage"
                  @next-click="nextPage"
                  @current-change="currentPageChange"
                >
                </el-pagination>
              </div>
            </el-col>
          </el-row>
        </div>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as billApi from "@/api/checkControl/extraIncome";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      options: [],
      tableName: "first",
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      form: {
        name: "",
        money: "",
        incomeMonth: "",
        writeDate: "",
      },
      edit_view: false,
      activeName: "first",
      tableData: [],
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = [ 'ID', '营业外收入ID','名称','金额','收入月份','填写时间']; // 导出的表头名信息
        const filterVal = ['id', 'id','name','money','incomeMonth','writeDate']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '到货回告历史');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd");
    },
    //初始化
    initForm() {
      this.form.name = "";
      this.form.money = "";
      this.form.incomeMonth = "";
      this.form.writeDate = "";
    },
    //提交
    onSubmit() {
      billApi.addExtraIncome(this.form).then((resp) => {
        console.log(resp);
        if (resp.code === 1) {
          api.toast_succ(resp.msg);
          // this.initForm();
        } else {
          api.toast_err(resp.msg);
        }
      });
    },
    //下一页
    nextPage() {
      this.selectExtraIncome(this.pageformData.currentPage + 1);
    },
    //上一页
    prevPage() {
      this.selectExtraIncome(this.pageformData.currentPage - 1);
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      this.selectExtraIncome(page);
    },
    // 查询所有营业外收入
    selectExtraIncome(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      billApi
        .selectExtraIncome(
          this.pageformData.currentPage,
          this.pageformData.size
        )
        .then((resp) => {
          console.log(resp);
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    handleClick(tab, event) {
      console.log(tab.name);
      if (tab.name !== "first") {
        this.selectExtraIncome();
      }
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {},
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>