<template>
  <div style="overflow: auto" id="box-edit">
    <el-form
      :model="ruleForm"
      ref="ruleForm"
      label-width="150px"
      class="demo-ruleForm"
    >
      <!-- 发货 -->
      <el-form-item label="发货客户编号" prop="region">
        <el-select
          v-model="ruleForm.sendGoodsCustomerNo"
          placeholder="请选择发货客户编号"
          @change="changeSend"
        >
          <el-option
            v-for="item in optionsSend"
            :key="item.key"
            :label="item"
            :value="item"
          >
          </el-option>
        </el-select>
      </el-form-item>

      <el-row>
        <el-col :span="12">
          <el-form-item label="发货客户" prop="sendGoodsCustomer">
            <el-input v-model="ruleForm.sendGoodsCustomer" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="发货客户电话" prop="sendGoodsCustomerTel">
            <el-input
              v-model="ruleForm.sendGoodsCustomerTel"
              disabled
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="发货客户地址" prop="sendGoodsCustomerAddr">
        <el-input v-model="ruleForm.sendGoodsCustomerAddr" disabled></el-input>
      </el-form-item>
      <!-- 收货 -->
      <el-form-item label="收货客户编号" prop="region">
        <el-select
          v-model="ruleForm.receiveGoodsCustomerCode"
          placeholder="请选择收货客户编号"
          @change="changeReceive"
        >
          <el-option
            v-for="item in optionsReceive"
            :key="item.key"
            :label="item"
            :value="item"
          >
          </el-option>
        </el-select>
      </el-form-item>
      <el-row>
        <el-col :span="12">
          <el-form-item label="收货客户" prop="name">
            <el-input
              v-model="ruleForm.receiveGoodsCustomer"
              disabled
            ></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="收货客户电话" prop="name">
            <el-input
              v-model="ruleForm.receiveGoodsCustomerTel"
              disabled
            ></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <el-form-item label="收货客户地址" prop="name">
        <el-input
          v-model="ruleForm.receiveGoodsCustomerAddr"
          disabled
        ></el-input>
      </el-form-item>
      <!-- 发货日期 -->
      <el-form-item label="发货日期" prop="name">
        <div class="block">
          <el-date-picker
            v-model="ruleForm.sendGoodsDate"
            type="date"
            placeholder="选择日期"
          >
          </el-date-picker>
        </div>
      </el-form-item>
      <!-- 预计交货 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="预期交货日期" prop="name">
            <el-date-picker
              v-model="ruleForm.predeliveryDate"
              type="date"
              placeholder="选择日期"
            >
            </el-date-picker>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="实际交货日期" prop="name">
            <el-date-picker
              v-model="ruleForm.factDealDate"
              type="date"
              placeholder="选择日期"
              disabled
            >
            </el-date-picker>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 代收付款 代收手续费率-->
      <el-row>
        <el-col :span="12">
          <el-form-item label="代收货款" prop="name">
            <el-input v-model="ruleForm.helpAcceptPayment"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="代收手续费率" prop="name">
            <el-input v-model="ruleForm.acceptProcedureRate"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 付款方式 取货方式 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="付款方式" prop="name">
            <el-input v-model="ruleForm.payMode"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="取货方式" prop="name">
            <el-input v-model="ruleForm.fetchGoodsMode"></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 填票人 填写日期 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="填票人" prop="name">
            <el-input v-model="ruleForm.writeBillPerson" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="填写日期" prop="name">
            <el-date-picker
              v-model="ruleForm.writeDate"
              type="date"
              placeholder="选择日期"
            >
            </el-date-picker>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 是否有效 是否审核 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="是否有效" prop="name">
            <el-switch v-model="ruleForm.validity" disabled></el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="是否审核" prop="name">
            <el-switch v-model="ruleForm.ifAudit" disabled></el-switch>
          </el-form-item>
        </el-col>
      </el-row>

      <!-- 是否结账 减款 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="是否结账" prop="name">
            <el-switch v-model="ruleForm.ifSettleAccounts"></el-switch>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="减款" prop="name">
            <el-input v-model="ruleForm.name"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <!-- 中转地 中转费 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="中转地" prop="name" disabled>
            <el-input v-model="ruleForm.transferStation" disabled></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="中转费" prop="name" disabled>
            <el-input v-model="ruleForm.transferFee" disabled></el-input>
          </el-form-item>
        </el-col>
      </el-row>
      <!-- 付回扣  变更后金额-->
      <el-row>
        <el-col :span="12">
          <el-form-item label="付回扣" prop="name">
            <el-input v-model="ruleForm.payKickback"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="变更后金额" prop="name">
            <el-input v-model="ruleForm.moneyOfChangePay" disabled></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <!-- 送货费 运费 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="送货费" prop="name">
            <el-input v-model="ruleForm.carryGoodsFee"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="运费" prop="name">
            <el-input v-model="ruleForm.carriage"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <!-- 保险费 职员编号 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="保险费" prop="name">
            <el-input v-model="ruleForm.insurance"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="职员编号" prop="name">
            <el-input v-model="ruleForm.employeeCode" disabled></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <!-- 备注 接货点 -->
      <el-row>
        <el-col :span="12">
          <el-form-item label="备注" prop="name">
            <el-input v-model="ruleForm.remark"></el-input>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="接货点" prop="name">
            <el-input v-model="ruleForm.acceptStation"></el-input>
          </el-form-item>
        </el-col>
      </el-row>

      <!-- 提交按钮 -->
      <el-form-item>
        <el-button type="primary" @click="submitForm('ruleForm')"
          >立即提交</el-button
        >
        <el-button @click="resetForm('ruleForm')">重置</el-button>
      </el-form-item>
    </el-form>

    <el-dialog title="填写货物" :visible.sync="dialogVisible" width="30%">
      <span>
        <el-form ref="form" :model="form" label-width="80px">
          <el-form-item label="件数">
            <el-input v-model="form.pieceAmount"></el-input>
          </el-form-item>
          <el-form-item label="重量">
            <el-input v-model="form.weight"></el-input>
          </el-form-item>
          <el-form-item label="体积">
            <el-input v-model="form.volume"></el-input>
          </el-form-item>
          <el-form-item label="计价方式">
            <el-input v-model="form.priceMode"></el-input>
          </el-form-item>
          <el-form-item label="计费标准">
            <el-input v-model="form.priceStandard"></el-input>
          </el-form-item>
          <el-form-item label="货物价值">
            <el-input v-model="form.goodsValue"></el-input>
          </el-form-item>
        </el-form>
      </span>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">取 消</el-button>
        <el-button type="primary" @click="addGoods">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as editBillApi from "@/api/billControl/editGoodsBill";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      form: {
        goodsBillDetailId: "",
        pieceAmount: "",
        weight: "",
        volume: "",
        priceMode: "",
        priceStandard: "",
        goodsValue: "",
      },
      dialogVisible: false,
      optionsSend: [],
      optionsReceive: [],
      ruleForm: {
        goodsBillCode: "",
        sendGoodsCustomerNo: "",
        sendGoodsCustomer: "",
        sendGoodsCustomerTel: "",
        sendGoodsCustomerAddr: "",
        receiveGoodsCustomerCode: "",
        receiveGoodsCustomer: "",
        receiveGoodsCustomerTel: "",
        receiveGoodsCustomerAddr: "",
        sendGoodsDate: "",
        sendGoodsAddr: "",
        receiveGoodsAddr: "",
        predeliveryDate: "",
        factDealDate: "",
        helpAcceptPayment: 0,
        acceptProcedureRate: "",
        payMode: "",
        fetchGoodsMode: "",
        writeBillPerson: "",
        writeDate: "",
        validity: false,
        ifAudit: false,
        ifSettleAccounts: false,
        transferStation: "",
        transferFee: "",
        reduceFund: 0,
        payKickback: 0,
        moneyOfChangePay: 0,
        carryGoodsFee: 0,
        carriage: 0,
        insurance: 0,
        employeeCode: "",
        remark: "",
        acceptStation: "",
      },
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    //初始化
    initRuleForm() {
      this.ruleForm.goodsBillCode = "";
      this.ruleForm.sendGoodsCustomerNo = "";
      this.ruleForm.sendGoodsCustomer = "";
      this.ruleForm.sendGoodsCustomerTel = "";
      this.ruleForm.sendGoodsCustomerAddr = "";
      this.ruleForm.receiveGoodsCustomerCode = "";
      this.ruleForm.receiveGoodsCustomer = "";
      this.ruleForm.receiveGoodsCustomerTel = "";
      this.ruleForm.receiveGoodsCustomerAddr = "";
      this.ruleForm.sendGoodsDate = "";
      this.ruleForm.sendGoodsAddr = "";
      this.ruleForm.receiveGoodsAddr = "";
      this.ruleForm.predeliveryDate = "";
      this.ruleForm.factDealDate = "";
      this.ruleForm.helpAcceptPayment = 0;
      this.ruleForm.acceptProcedureRate = "";
      this.ruleForm.payMode = "";
      this.ruleForm.fetchGoodsMode = "";
      this.ruleForm.writeBillPerson = "";
      this.ruleForm.writeDate = "";
      this.ruleForm.validity = false;
      this.ruleForm.ifAudit = false;
      this.ruleForm.ifSettleAccounts = false;
      this.ruleForm.transferStation = "";
      this.ruleForm.transferFee = "";
      this.ruleForm.reduceFund = 0;
      this.ruleForm.payKickback = 0;
      this.ruleForm.moneyOfChangePay = 0;
      this.ruleForm.carryGoodsFee = 0;
      this.ruleForm.carriage = 0;
      this.ruleForm.insurance = 0;
      this.ruleForm.employeeCode = "";
      this.ruleForm.remark = "";
      this.ruleForm.acceptStation = "";
      this.form.goodsBillDetailId = "";
      this.form.pieceAmount = "";
      this.form.weight = "";
      this.form.volume = "";
      this.form.priceMode = "";
      this.form.priceStandard = "";
      this.form.goodsValue = "";
    },
    //添加货物
    addGoods() {
      editBillApi
        .addGoods(this.form.goodsBillDetailId, this.form)
        .then((resp) => {
          console.log(resp);
          this.dialogVisible = false;
          this.initRuleForm();
          api.toast_succ(resp.msg)
        });
    },
    //添加货运单
    addGoodsBill() {
      editBillApi.addGoodsBill(this.ruleForm).then((resp) => {
        console.log(resp);
        if (resp.status !== "ERROR") {
          this.form.goodsBillDetailId = resp.goods_bill_code;
          this.dialogVisible = true;
          api.toast_succ(resp.msg)
        }
      });
    },
    //下拉框改变事件
    changeSend(item) {
      let _this = this;
      console.log(item);
      editBillApi.selectCusByCode(item).then((resp) => {
        _this.ruleForm.sendGoodsCustomer = resp.customer;
        _this.ruleForm.sendGoodsCustomerTel = resp.phone;
        _this.ruleForm.sendGoodsCustomerAddr = resp.address;
      });
    },
    changeReceive(item) {
      let _this = this;
      console.log(item);
      editBillApi.selectCusByCode(item).then((resp) => {
        _this.ruleForm.receiveGoodsCustomer = resp.customer;
        _this.ruleForm.receiveGoodsCustomerTel = resp.phone;
        _this.ruleForm.receiveGoodsCustomerAddr = resp.address;
      });
    },

    //获取收货人和发货人
    selectAllCusCode() {
      editBillApi.selectAllCusCode().then((resp) => {
        this.optionsSend = resp;
        this.optionsReceive = resp;
      });
    },
    submitForm(formName) {
      this.addGoodsBill();
      api.toast_succ(resp.msg)
    },
    //重置
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.ruleForm.writeBillPerson = this.$store.getters.user.loginId;
    this.ruleForm.employeeCode = this.$store.getters.user.loginId;
    this.selectAllCusCode();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>