<template>
  <div>
    <template>
      <el-tabs v-model="activeName" @tab-click="handleClick">

        <el-tab-pane label="所有运单" name="first">
          <el-table
            :data="tableData"
            style="width: 100%"
            :default-sort="{ prop: 'date', order: 'descending' }"
          >
            <el-table-column type="index" label="ID" width="80">
            </el-table-column>
            <el-table-column prop="goodsBillId" label="货运单编号">
            </el-table-column>
            <el-table-column prop="eventName" label="事件名称" sortable>
            </el-table-column>
            <el-table-column prop="remark" label="备注"> </el-table-column>
            <el-table-column prop="occurTime" label="发生时间" sortable>
              <template slot-scope="scope">
                <span v-text="formatDate(scope.row.occurTime)"></span>
              </template>
            </el-table-column>
            <el-table-column prop="tools" label="操作" width="300">
              <template slot-scope="scope">
                <el-button type="warning" @click="selectOne(scope.row)" class="el-button el-button--warning">
                  查看
                </el-button>
                <el-button type="primary" @click="updateOne(scope.row)" class="el-button el-button--primary">
                  修改
                </el-button>
                <el-button type="danger" @click="deleteOne(scope.row)" class="el-button el-button--danger">
                  删除
                </el-button>
              </template>
            </el-table-column>
          </el-table>
          <el-button type="primary" @click="downloadExcel" >导出</el-button>
        </el-tab-pane>
      </el-tabs>

      <el-row :gutter="20">
        <el-col :span="8" :offset="8">
          <div class="navigation-bar" style="padding-top: 40px">
            <!-- 分页部分 -->
            <el-pagination
              background
              layout="total, prev, pager, next, jumper"
              :hide-on-single-page="false"
              :page-size="pageformData.size"
              :current-page="pageformData.currentPage"
              :total="pageformData.total"
              @prev-click="prevPage"
              @next-click="nextPage"
              @current-change="currentPageChange"
            >
            </el-pagination>
          </div>
        </el-col>
      </el-row>
      <!-- 删除 -->
      <el-row>
        <el-dialog
          :title="deleteCode"
          :visible.sync="dialogVisible"
          width="30%"
        >
          <span>确认删除?</span>
          <span slot="footer" class="dialog-footer">
            <el-button @click="dialogVisible = false">取 消</el-button>
            <el-button type="primary" @click="doDelete">确 定</el-button>
          </span>
        </el-dialog>
      </el-row>
      <!-- 添加或者修改 -->
      <el-row>
        <el-dialog
          title="更新或者查询"
          :visible.sync="selectOneDig"
          width="70%"
        >
          <span>
            <el-form ref="ruleForm" :model="ruleForm" label-width="80px">
              <!-- 发货 -->
              <el-form-item label="发货客户编号" prop="region">
                <el-input
                  v-model="ruleForm.sendGoodsCustomerNo"
                  :disabled="ifCan"
                ></el-input>
              </el-form-item>

              <el-row>
                <el-col :span="12">
                  <el-form-item label="发货客户" prop="sendGoodsCustomer">
                    <el-input
                      v-model="ruleForm.sendGoodsCustomer"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item
                    label="发货客户电话"
                    prop="sendGoodsCustomerTel"
                  >
                    <el-input
                      v-model="ruleForm.sendGoodsCustomerTel"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-form-item label="发货客户地址" prop="sendGoodsCustomerAddr">
                <el-input
                  v-model="ruleForm.sendGoodsCustomerAddr"
                  :disabled="ifCan"
                ></el-input>
              </el-form-item>
              <!-- 收货 -->
              <el-form-item label="收货客户编号" prop="region">
                <el-input
                  v-model="ruleForm.receiveGoodsCustomerCode"
                  :disabled="ifCan"
                ></el-input>
              </el-form-item>
              <el-row>
                <el-col :span="12">
                  <el-form-item label="收货客户" prop="name">
                    <el-input
                      v-model="ruleForm.receiveGoodsCustomer"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="收货客户电话" prop="name">
                    <el-input
                      v-model="ruleForm.receiveGoodsCustomerTel"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-form-item label="收货客户地址" prop="name">
                <el-input
                  v-model="ruleForm.receiveGoodsCustomerAddr"
                  :disabled="ifCan"
                ></el-input>
              </el-form-item>
              <!-- 发货日期 -->
              <el-form-item label="发货日期" prop="name">
                <div class="block">
                  <el-date-picker
                    v-model="ruleForm.sendGoodsDate"
                    type="date"
                    placeholder="选择日期"
                    :disabled="ifCan"
                  >
                  </el-date-picker>
                </div>
              </el-form-item>
              <!-- 预计交货 -->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="预期交货日期" prop="name">
                    <el-date-picker
                      v-model="ruleForm.predeliveryDate"
                      type="date"
                      placeholder="选择日期"
                      :disabled="ifCan"
                    >
                    </el-date-picker>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="实际交货日期" prop="name">
                    <el-date-picker
                      v-model="ruleForm.factDealDate"
                      type="date"
                      placeholder="选择日期"
                      :disabled="ifCan"
                    >
                    </el-date-picker>
                  </el-form-item>
                </el-col>
              </el-row>
              <!-- 代收付款 代收手续费率-->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="代收货款" prop="name">
                    <el-input
                      v-model="ruleForm.helpAcceptPayment"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="代收手续费率" prop="name">
                    <el-input
                      v-model="ruleForm.acceptProcedureRate"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <!-- 付款方式 取货方式 -->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="付款方式" prop="name">
                    <el-input
                      v-model="ruleForm.payMode"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="取货方式" prop="name">
                    <el-input
                      v-model="ruleForm.fetchGoodsMode"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <!-- 填票人 填写日期 -->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="填票人" prop="name">
                    <el-input
                      v-model="ruleForm.writeBillPerson"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="填写日期" prop="name">
                    <el-date-picker
                      v-model="ruleForm.writeDate"
                      type="date"
                      placeholder="选择日期"
                      :disabled="ifCan"
                    >
                    </el-date-picker>
                  </el-form-item>
                </el-col>
              </el-row>
              <!-- 是否有效 是否审核 -->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="是否有效" prop="name">
                    <el-switch
                      v-model="ruleForm.validity"
                      :disabled="ifCan"
                    ></el-switch>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="是否审核" prop="name">
                    <el-switch
                      v-model="ruleForm.ifAudit"
                      :disabled="ifCan"
                    ></el-switch>
                  </el-form-item>
                </el-col>
              </el-row>

              <!-- 是否结账 减款 -->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="是否结账" prop="name">
                    <el-switch
                      v-model="ruleForm.ifSettleAccounts"
                      :disabled="ifCan"
                    ></el-switch>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="减款" prop="name">
                    <el-input
                      v-model="ruleForm.name"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>

              <!-- 中转地 中转费 -->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="中转地" prop="name" disabled>
                    <el-input
                      v-model="ruleForm.transferStation"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="中转费" prop="name" disabled>
                    <el-input
                      v-model="ruleForm.transferFee"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <!-- 付回扣  变更后金额-->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="付回扣" prop="name">
                    <el-input
                      v-model="ruleForm.payKickback"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="变更后金额" prop="name">
                    <el-input
                      v-model="ruleForm.moneyOfChangePay"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>

              <!-- 送货费 运费 -->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="送货费" prop="name">
                    <el-input
                      v-model="ruleForm.carryGoodsFee"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="运费" prop="name">
                    <el-input
                      v-model="ruleForm.carriage"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>

              <!-- 保险费 职员编号 -->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="保险费" prop="name">
                    <el-input
                      v-model="ruleForm.insurance"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="职员编号" prop="name">
                    <el-input
                      v-model="ruleForm.employeeCode"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>

              <!-- 备注 接货点 -->
              <el-row>
                <el-col :span="12">
                  <el-form-item label="备注" prop="name">
                    <el-input
                      v-model="ruleForm.remark"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
                <el-col :span="12">
                  <el-form-item label="接货点" prop="name">
                    <el-input
                      v-model="ruleForm.acceptStation"
                      :disabled="ifCan"
                    ></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
            </el-form>
          </span>
          <span slot="footer" class="dialog-footer" v-if="!ifCan">
            <el-button @click="selectOneDig = false">取 消</el-button>
            <el-button type="primary" @click="doUpdate">确 定</el-button>
          </span>
        </el-dialog>
      </el-row>
    </template>
  </div>
</template>
  </div>
</template>

<script>
import * as dateUtils from "@/utils/date";
import * as api from "@/api/axios";
import * as goodBillApi from "@/api/billControl/goodsBillDetail";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      dialogVisible: false,
      ifCan: true,
      selectOneDig: false,
      activeName: "first",
      tableData: [],
      pageformData: {
        size: 10,
        currentPage: 1,
        total: 0,
      },
      ruleForm: {},
      deleteCode: "",
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    downloadExcel () {
      this.$confirm('确定下载列表文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        // this.excelData = this.multipleSelection; // multipleSelection是一个数组，存储表格中选择的行的数据。
        this.excelData = this.tableData;
        this.export2Excel();
      }).catch(() => {

      });
    },
    // 数据写入excel
    export2Excel () {
      var that = this;
      require.ensure([], () => {
        const { export_json_to_excel } = require('@/excel/export2Excel'); // 这里必须使用绝对路径，使用@/+存放export2Excel的路径
        const tHeader = ['ID', '货运单编号', '事件名称','备注','发生时间']; // 导出的表头名信息
        const filterVal = ['id', 'goodsBillId', 'eventName','remark','occurTime']; // 导出的表头字段名，需要导出表格字段名
        const list = that.excelData;
        console.log(list);
        const data = that.formatJson(filterVal, list);
        export_json_to_excel(tHeader, data, '接货单');// 导出的表格名称，根据需要自己命名
      });
    },
    // 格式转换，直接复制即可
    formatJson (filterVal, jsonData) {
      return jsonData.map(v => filterVal.map(j => v[j]));
    },
    //执行删除
    doDelete() {
      goodBillApi.deleteGoodsBill(this.deleteCode).then((resp) => {
        console.log(resp);
        this.selectAllGoodsBills()
        this.deleteCode = "";
        this.dialogVisible = false;
        api.toast_succ(resp.msg)
      });
    },
    //删除
    deleteOne(item) {
      this.deleteCode = item.goodsBillId;
      this.dialogVisible = true;
      api.toast_succ(resp.msg)
    },
    //执行修改
    doUpdate() {
      this.selectOneDig = false;
      goodBillApi
        .updateGoodsBill(this.ruleForm.goodsBillId, this.ruleForm)
        .then((resp) => {
          console.log(resp);
          api.toast_succ(resp.msg)
        });
    },
    //修改
    updateOne(item) {
      this.ifCan = false;
      goodBillApi.selectByCode(item.goodsBillId).then((resp) => {
        this.ruleForm = resp;
        api.toast_succ(resp.msg)
      });
      this.selectOneDig = true;
    },
    //查看详情
    selectOne(item) {
      this.ifCan = true;
      console.log(item.goodsBillId);
      goodBillApi.selectByCode(item.goodsBillId).then((resp) => {
        this.ruleForm = resp;
      });
      this.selectOneDig = true;
    },
    //下一页
    nextPage() {
      this.selectAllGoodsBills(this.pageformData.currentPage + 1);
    },
    //上一页
    prevPage() {
      this.selectAllGoodsBills(this.pageformData.currentPage - 1);
    },
    //currentPage 改变时会触发
    currentPageChange(page) {
      this.selectAllGoodsBills(page);
    },
    //日期转换
    formatDate(dateStr) {
      // console.log(dateStr);
      var date = new Date(dateStr);
      // console.log(date);
      return dateUtils.formatDate(date, "yyyy-MM-dd");
    },
    //获取所有订单
    selectAllGoodsBills(currentPage) {
      this.tableData = [];
      let _this = this;
      //去获取对象列表
      this.pageformData.currentPage =
        currentPage === undefined ? this.pageformData.currentPage : currentPage;
      goodBillApi
        .selectAllGoodsBills(
          this.pageformData.currentPage,
          this.pageformData.size
        )
        .then((resp) => {
          this.tableData = resp.data;
          this.pageformData.total = resp.count;
        });
    },
    //分页改变的事件
    handleClick(tab, event) {
      // console.log(tab, event);
      console.log("点了一下下");
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.selectAllGoodsBills();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
</style>