//layout布局
<template>
  <div>
    <el-container>
      <el-header id="admin-header-box">
        <topHeader></topHeader>
      </el-header>
      <el-container>
        <el-aside id="left-menu-list-box" width="220px">
          <leftMenu></leftMenu>
        </el-aside>
        <el-container id="right-menu-list-box">
          <el-main>
            <router-view></router-view>
          </el-main>
          <el-footer>
            <div
              class="layui-footer"
              style="text-align: center; padding: 0 !important"
            >
              <!-- 底部固定区域 -->
              物流管理系统
            </div>
          </el-footer>
        </el-container>
      </el-container>
    </el-container>
  </div>
</template>

<script>
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {};
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {},
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    //动态设置侧边栏高度 left-menu-list-box
    //动态设置侧边栏高度 left-menu-list-box
    let leftMenuBox = document.getElementById("left-menu-list-box");
    let rightMenuBox = document.getElementById("right-menu-list-box");
    let adminHeaderBox = document.getElementById("admin-header-box");
    if (leftMenuBox && adminHeaderBox) {
      leftMenuBox.style.height =
        window.innerHeight - adminHeaderBox.offsetHeight + "px";
      rightMenuBox.style.height =
        window.innerHeight - adminHeaderBox.offsetHeight + "px";
      console.log(rightMenuBox.style.height);
    }
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
.el-header {
  background-color: #23262e;
  color: #333;
  line-height: 60px;
  height: 60px !important;
}

.el-aside {
  border-right: solid 1px #e6e6e6;
}

#left-menu-list-box .el-menu {
  border-right: none;
}
.el-main {
  padding: 0 !important;
}
.layui-footer {
  position: fixed;
  left: 220px;
  right: 0;
  bottom: 0;
  height: 60px;
  line-height: 60px;
  padding: 0 15px;
  background-color: #eee;
}
</style>