<template>
  <div style="height: 100%; background: #393d49">
    <el-menu
      :default-active="$route.path"
      class="el-menu-vertical-demo"
      :unique-opened="true"
      background-color="#393d49"
      text-color="#fff"
    >
      <!-- 遍历路由表 得到菜单内容 -->
      <!-- 有两种：1.第一种没有子菜单 2.第二种有子菜单 -->
      <template v-for="(item, index) in menuList">
        <!-- 1.第一种没有子菜单 -->
        <router-link
          v-if="!item.children && !item.hidden"
          :key="index"
          :index="item.path"
          :to="item.path"
        >
          <el-menu-item>
            <i :class="item.icon"></i>
            <span slot="title">{{ item.title }}</span>
          </el-menu-item>
        </router-link>

        <!-- 2.第二种有子菜单 -->
        <el-submenu
          v-if="item.children && !item.hidden"
          :key="index"
          :index="item.path"
        >
          <template slot="title">
            <i :class="item.icon"></i>
            <span>{{ item.title }}</span>
          </template>
          <!-- 遍历子类 -->
          <router-link
            v-for="(subItem, subIndex) in item.children"
            :key="subIndex"
            :to="subItem.path"
          >
            <el-menu-item :index="subItem.path" v-if="!subItem.hidden">
              <i :class="subItem.icon"></i>
              <span>{{ subItem.title }}</span>
            </el-menu-item>
          </router-link>
        </el-submenu>
      </template>
    </el-menu>
  </div>
</template>

<script>
import * as billApi from "@/api/systemControl/userGroupManage";
import { routes } from "../router/routes";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      functionForm: [],
      menuList: [],
      userID: "",
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    //获取权限
    changOP() {
      this.userID = this.$store.getters.user.loginId;
      billApi.selectFunc(this.userID).then((resp) => {
        this.functionForm = [];
        for (var i = 0; i < resp.length; i++) {
          // console.log(resp)
          this.functionForm.push(resp[i].functionId);
        }
        // console.log(this.functionForm);
        //赋值权限
        this.functionForm.forEach((element) => {
          // console.log(element);
          if (element < this.menuList.length) {
            this.menuList[element].hidden = false;
          }
        });
      });
    },
    //获取路由表
    getRouter() {
      let menuList = routes[0];
      this.menuList = menuList.children;
      // console.log(this.menuList);
      this.menuList.forEach((element) => {
        element.hidden = true;
      });
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.changOP();
    this.getRouter();
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
.el-menu-vertical-demo a {
  text-decoration: none;
}
</style>