<template>
  <div>
    <el-page-header @back="goBack"> </el-page-header>
    <div class="content-title-box" v-text="this.$route.name"></div>
    <div class="content-container-box" >
      <router-view />
    </div>
  </div>
</template>

<script>
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {};
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    goBack() {
      this.$router.go(-1);
      console.log("go back");
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    console.log(this.$route.name);
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
.content-title-box {
  padding: 10px;
  border-bottom: solid 1px #e6e6e6;
}
.content-container-box {
  padding: 10px;
}
</style>