<template>
  <div>
    <el-row :gutter="20">
      <el-col :span="6"
        ><div class="header-left-box">
          <div class="header-logo">物流管理系统</div>
        </div></el-col
      >
      <el-col :span="5" :offset="13">
        <el-dropdown>
          <el-button
            circle
            style="
              background-image: url(http://t.cn/RCzsdCq);
              background-size: 100% 100%;
              width: 40px;
              height: 40px;
            "
          >
          </el-button>
          <el-dropdown-menu slot="dropdown">
            <!-- <el-dropdown-item>
              <el-button>基本资料</el-button>
            </el-dropdown-item> -->
            <el-dropdown-item>
              <el-button @click="toChange()">修改密码</el-button>
            </el-dropdown-item>
            <el-dropdown-item>
              <el-button @click="logout()">退出</el-button>
            </el-dropdown-item>
          </el-dropdown-menu>
        </el-dropdown>
        <span class="header-logo">{{ name }}</span>
      </el-col>
    </el-row>
  </div>
</template>

<script>
import * as api from "@/api/axios";
export default {
  //import 引入的组件需要注入到对象中才能使用
  components: {},
  props: {},
  data() {
    //这里存数据
    return {
      name: "",
    };
  },
  //计算属性
  computed: {},
  //监控data中数据变化
  watch: {},
  //方法
  methods: {
    logout() {
      this.$store.commit("deleteUser", null);
      console.log(this.$store.getters.user);
      this.$cookies.remove("loginId");
      this.$router.push({
        path: "/login",
      });
    },
    toChange() {
      this.$router.push({
        path: "/changePassword",
      });
    },
  },
  //声明周期 - 创建完成（可以访问当前this实例）
  created() {},
  //生命周期 - 挂载完成（可以访问DOM元素）
  mounted() {
    this.name = this.$store.getters.user.loginId;
    api.replace(this.name).then((resp) => {
      this.name = resp.data;
    });
  },
  beforeCreate() {}, //生命周期 - 创建之前
  beforeMount() {}, //生命周期 - 挂载之前
  beforeUpdate() {}, //声明周期 - 更新之前
  updated() {}, //生命周期 - 更新之后
  beforeDestroy() {}, //生命周期 - 销毁之前
  destroyed() {}, //生命周期 - 销毁之后
  activated() {}, //缓存keep-alive
};
</script>

<style scoped>
.header-right-box {
  color: aliceblue;
}
.header-logo {
  color: #009688;
  font-size: 20px;
  font-weight: 600;
}
</style>